@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,900");
:root {
  --font: 'Roboto', sans-serif;
  --monofont: 'Roboto Mono', monospace;
  --maincolor: #1d1d1d;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.header {
  height: 100%;
  max-height: 600px;
  width: 100%;
  background-color: var(--maincolor);
  transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 72px;
  font-weight: 400;
  font-family: var(--font);
  background: linear-gradient(135deg, #ff3030 10%, #3030ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  width: 100%;
  padding: 18px 0px;
}
.content .lane {
  width: 95%;
  max-width: 935px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.content .lane #content {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.content .lane h1 {
  margin: 12px 0px;
  margin-top: 34px;
  width: 100%;
  color: var(--maincolor);
  font-family: var(--font);
  text-align: center;
}
.content .lane p {
  width: 70%;
  font-size: 18px;
  font-family: var(--font);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.content .lane ul {
  width: 70%;
  font-size: 18px;
  font-family: var(--font);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.content .lane a {
  text-decoration: underline;
  cursor: pointer;
}
.content .lane .code {
  width: 100%;
  padding: 18px 24px;
  background-color: var(--maincolor);
  border-radius: 5px;
  width: 70%;
  position: relative;
  margin: 12px 0px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
.content .lane .code p {
  font-size: 16px;
  width: 100%;
  margin: 0;
  font-family: var(--monofont);
  color: #fff;
  white-space: nowrap;
  color: #636363;
}
.content .lane .code p.title {
  font-size: 12px;
  margin-bottom: 12px;
  color: #cacaca;
}
.content .lane .code p .bssexpression {
  color: #623aa2;
}
.content .lane .code p .bsscommand {
  color: #0396ff;
}
.content .lane .code p .score {
  color: #fccf31;
}
.content .lane .code p .handeler {
  color: #636363;
}
.content .lane .code p .number {
  color: #28c76f;
}
.content .lane .code p .block {
  color: #4c83ff;
}
.content .lane .code p .selector {
  color: #ea5455;
}
