.testing, p {
    /* This styling will be applied to all selectors */
    background-color: #f0f;
}

.testing p {
    /* The the selected path, .testing p, will select all children (non direct) that is a child of the element in front */
    background-color: #f0f;
}

.testing > p {
    /* Selects the direct child p of .testing */
    background-color: #f0f;
}

.testing + p {
    /* Seen from the first selector, look for the first next sibling (same level) for the second selector. */
    background-color: #f0f;
}

.testing ~ p {
    /* Seen from the first selector, look for all the next siblings (same level) for the second selector. */
    background-color: #f0f;
}

p.testing {
    /* Checks for the fist selector whether it has that class. */
    background-color: #f0f;
}