div.wave--sidenav {
	width: 70%;
}

div.wave--invisible {
	width: 30%;
}

div.wave--sidenav div.userinfo div.pos h1 {
	font-size: 4em;
}

div.wave--sidenav div.items button {
	font-size: 3em;
}

div.wave--sidenav div.items button i {
	font-size: 1em;
}

div.wave--sidenav div.items button .p {
	transform: translate(0%,-20%);
}

div.wave--sidenav div.items p.section {
	font-size: 2em;
}