<div class="innerResources">
	<script>
		tempImport([
			"--default"
		]);
	</script>
</div>
<div class="innerPage" id="vueDashboard">
	<div class="spinner" v-if="completedQueries === false">
		<div class="inner"></div>
	</div>
	<div class="noItems" v-if="loaded == true">
		<div class="inner">
			<h1>Nothing here yet</h1>
			<p>After using this app for a bit, things will show up here</p>
		</div>
	</div>
	<div class="lane">
		<transition name="appear">
			<div class="entry" v-if="recent.length > 0">
				<h2>Get back into editing</h2>
				<div class="listItem" v-for="activity in recent" @click="openCharacter(activity)">
					<h1 v-if="activity.characterName.length > 0">{{ activity.characterName }}</h1>
					<h1 v-else>Unnamed character</h1>
					<h2 v-if="activity.description != '  '">{{ activity.description }}</h2>
				</div>
			</div>
		</transition>
		<transition name="appear">
			<div class="entry" v-if="nextUpcomming.length > 0">
				<h2>Upcomming sessions</h2>
				<div class="listItem" v-for="activity in nextUpcomming" @click="openCampaign(activity)">
					<h1 class="noOverflow">{{ activity.text }}</h1>
				</div>
			</div>
		</transition>
	</div>
</div>
