.listItem {
	cursor: pointer;
}

.appear-enter-active {
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 200ms;
}

.appear-enter {
	opacity: 0;
	transform: translateY(36px);
}

.appear-enter-to {
	opacity: 1;
	transform: translateY(0px);
}
