@import url('https://fonts.googleapis.com/css?family=Spectral+SC|Vollkorn+SC');
@font-face {
	font-family: Iokharic;
	src: url(../fonts/roboto.ttf);
}

@font-face {
	font-family: Vollkorn SC;
	src: url(../fonts/roboto.ttf);
}

@font-face {
	font-family: Spectral SC;
	src: url(../fonts/roboto.ttf);
}

@font-face {
	font-family: museo;
	src: url(../../../css/fonts/Museo500.otf);
}

.ui--sidenavWrapper.modified {
	z-index: 100;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, p, a {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

h1 {
	font-size: 2em;
}

html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.loader-background {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
}

.loader {
	z-index: 1001;
	width: 30vh;
	height: 30vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: loader infinite linear 1.4s;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes loader {
	0% {
		background-color: white;
	}
	50% {
		background-color: darkslategray;
	}
	100% {
		background-color: white;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

.bar {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 7vh;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 50;
}

.center {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

 button {
	transition: .1s all ease-in;
	font-size: 1.5rem;
	color: #00B6C9;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 3px;
}

button:hover {
	transition: .1s all ease-in;
	background-color: #eaeaea;
}

.bar button {
	transition: .1s all ease-in;
	height: 70%;
	position: relative;
	top: 15%;
	font-size: 1.5rem;
	color: #00B6C9;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

.bar .sidenav-trigger {
	cursor: pointer;
}

.bar button:hover {
	transition: .1s all ease-in;
	background-color: #eaeaea;
}

.bar .openMenu {
	background-color: #4c90ff;
	color: white;
}

.bar .openMenu:hover {
	background-color: #8cb6f9;
}

.bar img {
	height: 5vh;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1vh;
	border-radius: 100%;
}

.bar #userIcon-Bar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar a {
	font-size: 1.5rem;
	color: #00B6C9;
	font-family: 'Museo', sans-serif;
	height: 5vh;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1.75vh;
}

.page {
	height: 93vh;
	width: 100vw;
	position: fixed;
	top: 7vh;
}

.innerPage {
	width: 100%;
	height: 100%;
}

.innerPage.scroll {
    overflow-y: scroll;
}

.welcomeText {
	height: 20%;
	width: 50%;
	position: relative;
	top: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin: 0;
	padding: 0;
	font-family: "Spectral SC";
}

p {
	font-family: "Vollkorn SC";
}

input, select {
	border: none;
	font-size: 1.2rem;
	font-family: "Vollkorn SC";
	background-color: #eaeaea;
	border-radius: 3px;
}

.hud {
	position: fixed;
	z-index: 200;
	background-color: white;
	height: 6%;
	width: 20%;
	margin: 0;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hud button {
	position: relative;
	height: 90%;
	margin-left: 2%;
	margin-top: 1%;
	float: left;
}

button.blue {
	background-color: #4c90ff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

button.blue:hover {
	background-color: #8cb6f9;
}

button.red {
	background-color: #f21d1d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

button.red:hover {
	background-color: #f96161;
}

.error-background {
	display: none;
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 90;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,0,0,.5);
}

.error-forground {
	color: white;
	width: 60%;
	height: 60%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.error-forground h1 {
	width: 90%;
	text-align: left;
	margin-left: 10%;
	font-size: 5em;
}

.error-forground p {
	width: 90%;
	text-align: left;
	margin-left: 10%;
	font-size: 2em;
}

.error-forground #error {
	color: rgb(200,200,200);
	width: 90%;
	text-align: left;
	margin-left: 10%;
	font-size: 1em;
}

.error-forground button {
	position: relative;
	width: 80%;
	height: 10%;
	left: 10%;
}

/*
    TODO
    - Create a universal background for overlays
    - Create a universal forground for overlays
    - Create a function that returns a ncp object in a function
    - Create a Quick npc button
    _ Create a Load npc button
        - The npc's will be saved on the DM's account
        - Npc's can be created outside the party
    - Create a Spesific npc button that has some parms to use like race, class and other stuff.
*/

.overlay-background {
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 80;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.overlay {
    display: none;
    position: fixed;
    width: 80vw;
    height: 90vh;
    z-index: 1001;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay .content {
    overflow: hidden;
    width: 100%;
    height: 90%;
}

.overlay .closeButton {
    cursor: pointer;
    width: 100%;
    height: 10%;
}

.overlay .closeButton:hover {
    background-color: rgb(235,235,235);
}

.overlay .closeButton h1 {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* Note styling */

.note {
	z-index: 2000;
	top: 100vh;
	position: fixed;
	height: 10vh;
	width: 60vw;
	left: 20vw;
	background-color: white;
	transition: .15s all ease-in;
}

.note.open {
	top: 90vh;
	transition: .15s all ease-in;
}

.note.close {
	animation: open linear .15s backwards;
}

@keyframes open {
	from {top: 100vh}
	to {top: 90vh}
}

.note #noteContent {
	position: relative;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}