p {
	font-size: .7em;
}

.boxer {
	width: 90%;
	height: 90%;
}

.boxer .title h1 {
	font-size: 5em !important;
}

.boxer .text .content {
	width: 90%;
	font-size: 3em;
}

.sidebar.open {
	width: 80vw;
}

.sidebarBackground .sidebarExit {
	left: 80%;
	width: 20%;
}

.sidebar .nameWrapper h1 {
	font-size: 4em;
}

.sidebar .menubutton p {
	font-size: 3em;
}

.page {
	margin-top: 4vh;
	height: 90vh;
	overflow-y: scroll;
}

.startButton {
	font-size: 2.5em;
}

/* Side Bar */