p {
	font-size: .7em;
}

.boxer {
	width: 90%;
	height: 90%;
}

.boxer .title h1 {
	font-size: 5em !important;
}

.boxer .text .content {
	width: 90%;
	font-size: 3em;
}

.fab {
	width: 15vw;
    height: 15vw;
	left: calc(97vw - 15vw);
}

.fab.show {
	top: calc(96vh - 15vw);
}

.fab i {
	font-size: 5em;
}

.sidebar {
	width: 80vw;
	left: -81vw;
}

.sidebarBackground .sidebarExit {
	left: 80%;
	width: 20%;
}

.sidebar .nameWrapper h1 {
	font-size: 4em;
}

.sidebar .menubutton p {
	font-size: 3em;
}

.page {
	height: 100vh;
	overflow-y: scroll;
}

.startButton {
	font-size: 2.5em;
}

/* Side Bar */
