@import url('https://fonts.googleapis.com/css?family=Spectral+SC|Vollkorn+SC');
@font-face {
	font-family: Iokharic;
	src: url(../fonts/roboto.ttf);
}

@font-face {
	font-family: Vollkorn SC;
	src: url(../fonts/roboto.ttf);
}

@font-face {
	font-family: Spectral SC;
	src: url(../fonts/roboto.ttf);
}

@font-face {
	font-family: museo;
	src: url(../../../css/fonts/Museo500.otf);
}

@font-face {
	font-family: Alexana;
	src: url(../fonts/Alexana.ttf);
}

h1, p, a {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0;
}

h1 {
	font-size: 2em;
}

html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

h1, h2, textarea {
	margin: 0;
	padding: 0;
	font-family: "Spectral SC";
}

p {
	font-family: "Vollkorn SC";
}

 button {
	transition: .1s all ease-in;
	font-size: 1.5rem;
	color: #00B6C9;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 3px;
	outline: 0;
}

button:hover {
	transition: .1s all ease-in;
	background-color: #eaeaea;
}

button i {
	font-size: inherit;
	transform: translate(0%, 12%);
}

input, select {
	border: none;
	font-size: 1.2rem;
	font-family: "Vollkorn SC";
	background-color: #eaeaea;
	border-radius: 3px;
}

button.blue {
	background-color: #4c90ff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

button.blue:hover {
	background-color: #8cb6f9;
}

button.red {
	background-color: #f21d1d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

button.red:hover {
	background-color: #f96161;
}

.s1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.s1.hover {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.s1.hover:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.s2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.s3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.s4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.s5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.push {
	margin-bottom: 5vh;
}

.center {
	position: relative;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.centerHorizontal {
	position: relative;
    left: 50%;
	transform: translate(-50%, 0%);
}

.centerVertical {
	position: relative;
    top: 50%;
	transform: translate(0%, -50%);
}

.wave--sidenavWrapper {
	z-index: 100 !important;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1 {
	width: 100%;
	height: 30%;
}

.h1 h1 {
	width: 99%;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.h2 {
	width: 100%;
	height: 20%;
}

.h2 h2 {
	width: 99%;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button {
	display: block;
	cursor: pointer;
	width: 100%;
	height: 15vh;
}

.button:hover {
	background-color: rgb(235,235,235);
}

.button h1 {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.loader-background {
	position: fixed;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
}

.loader {
	z-index: 1001;
	width: 30vh;
	height: 30vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: loader infinite linear 1.4s;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes loader {
	0% {
		background-color: white;
	}
	50% {
		background-color: darkslategray;
	}
	100% {
		background-color: white;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

.progressBar {
	width: 100vw;
	height: 2px;
	background-color: rgb(235, 235, 235);
}

.progressBar .animation {
	background-color: #2a2a72;
	background-image: linear-gradient(-90deg, #2a2a72 0%, #009ffd 74%);
	width: 0;
	height: 100%;
	position: relative;
}

.progressBar.active .animation {
	animation: progressBar 2s linear infinite;
}

@keyframes progressBar {
	0% {
		width: 0%;
		left: 0;
	}
	50% {
		width: 50%;
		left: 25vw;
	}
	100% {
		width: 0%;
		left: 100vw;
	}
}

.menuFloater {
	position: fixed;
	height: 6vh;
	width: 6vh;
	z-index: 25;
	background-color: transparent;
}

.menuFloater img {
	cursor: pointer;
	width: 90%;
}

.userFloater {
	position: fixed;
	z-index: 25;
	height: 6vh;
	background-color: red;
    width: 40vw;
    left: 58vw;
    background-color: transparent;
}

.userFloater h1 {
	margin-left: 1%;
	margin-right: 1%;
}

.userFloater img {
	height: 5.5vh;
	width: 5.5vh;
	border-radius: 50%;
	border: 1px solid rgb(235, 235, 235);
}

.page {
	height: 100vh;
	width: 100vw;
}

.innerPage {
	width: 100%;
	height: 100%;
}

.innerPage.scroll {
    overflow-y: scroll;
}

.boxer {
	width: 70%;
	height: 70%;
	border-radius: 1vh;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	color: white;
}

.boxer .text {
	width: 100%;
	height: 100%;
	float: left;
}

.boxer .text .title {
	height: 20%;
	width: 100%;
	position: relative;
	top: 5vh;
}

.boxer .text .title h1 {
	font-size: 3.5em;
    position: relative;
    left: 1%;
}

.boxer .text .content {
	width: 30%;
	height: 80%;
}

.boxer .text .content p {
	width: 90%;
	height: 90%;
	white-space: initial;
	font-size: 1.5em;
}

.sidebar {
	position: fixed;
	z-index: 26;
	width: 20vw;
	height: 100vh;
	background-color: white;
	transition: .2s all ease-in;
	left: -21vw;
}

.sidebar.open {
	left: 0vw;
	transition: .2s all ease-in;
}

.sidebar .userWrapper {
	width: 100%;
	height: 15%;
	position: relative;
	top: 5%;
}

.sidebar .userWrapper .userCard {
	width: 90%;
	height: 90%;
	border-radius: 1vh;
	background-color: #f7b42c;
	background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.sidebar .iconWrapper {
	height: 100%;
	width: 30%;
	float: left;
}

.sidebar .iconWrapper img {
    height: 60%;
    border-radius: 50%;
}

.sidebar .nameWrapper {
	width: 70%;
	height: 100%;
	float: left;
}

.sidebar .nameWrapper h1 {
	width: 98%;
	color: white;
}

.sidebar .menu {
	height: 85%;
    width: 100%;
    position: relative;
    top: 10%;
}

.sidebar .menubutton {
	width: 100%;
	height: 7%;
	background-color: white;
	cursor: pointer;
}

.sidebar .menubutton p {
	color: #505050;
	width: 70%;
	position: relative;
	left: 10%;
	font-size: 1.4em;
}

.sidebar .menubutton p i {
	font-size: inherit;
	transform: translate(0%, 13%);
    margin-right: 5%;
}

.sidebar .menubutton:hover {
	background-color: rgb(235, 235, 235);
}

.divider {
	width: 100%;
	height: 1px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.divider .dividerInner {
	width: 90%;
	height: 100%;
	background-color: rgb(235, 235, 235);
}

.sidebarBackground {
	transition: .2s all ease-in;
	position: fixed;
	z-index: 10;
	width: 0vw;
	height: 100vh;
	background-color: rgba(235, 235, 235, .5);
}

.sidebarBackground.open {
	width: 100vw;
	transition: .2s all ease-in;
}

.sidebarBackground .sidebarExit {
	width: 80%;
	height: 100%;
	position: relative;
	left: 20%;
}

.error-background {
	display: none;
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 90;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,0,0,.5);
}

.error-forground {
	color: white;
	width: 60%;
	height: 60%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.error-forground h1 {
	width: 90%;
	text-align: left;
	margin-left: 10%;
	font-size: 5em;
}

.error-forground p {
	width: 90%;
	text-align: left;
	margin-left: 10%;
	font-size: 2em;
}

.error-forground #error {
	color: rgb(200,200,200);
	width: 90%;
	text-align: left;
	margin-left: 10%;
	font-size: 1em;
}

.error-forground button {
	position: relative;
	width: 80%;
	height: 10%;
	left: 10%;
}

/*
    TODO
    - Create a universal background for overlays
    - Create a universal forground for overlays
    - Create a function that returns a ncp object in a function
    - Create a Quick npc button
    _ Create a Load npc button
        - The npc's will be saved on the DM's account
        - Npc's can be created outside the party
    - Create a Spesific npc button that has some parms to use like race, class and other stuff.
*/

.overlay-background {
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 80;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.overlay {
    display: none;
    position: fixed;
    width: 80vw;
    height: 90vh;
    z-index: 1001;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay .content {
    overflow: hidden;
    width: 100%;
    height: 90%;
}

.overlay .closeButton {
    cursor: pointer;
    width: 100%;
    height: 10%;
}

.overlay .closeButton:hover {
    background-color: rgb(235,235,235);
}

.overlay .closeButton h1 {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* Note styling */

.note {
	z-index: 2000;
	top: -9vh;
	position: fixed;
	height: 7vh;
	width: 60vw;
	left: 20vw;
	border-radius: 5vh;
	background-color: white;
	transition: .1s all ease-in;
}

.note.open {
	transition: .1s all ease-in;
	top: 1vh;
}

.note #noteContent {
	position: relative;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}