.scroll {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-y: scroll;
}

.partyList {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.party {
	height: 20vh;
	width: 100%;
	border-top: 1px solid rgb(235,235,235);
	cursor: pointer;
}

.party:hover {
	background-color: rgb(235,235,235);
}

.party h1 {
	width: 100%;
	font-size: 3em;
	margin-left: 2%;
}

.party p {
	width: 100%;
	margin-left: 2%;
}

.createParty {
	height: 20vh;
	width: 100%;
	cursor: pointer;
	background-color: white;
}

.createParty:hover {
	background-color: rgb(235,235,235);
}

.createParty:hover input {
	background-color: rgb(215,215,215);
}

.addParty {
	display: none;
	width: 100%;
	height: 100%;
}

.addParty input {
	font-size: 2em;
	position: relative;
	top: 50%;
	transform: translate(0%,-50%);
	margin-left: 2%;
}

.addParty button {
	font-size: 2em;
	position: relative;
	top: 50%;
	transform: translate(0%,-50%);
	margin-left: 2%;
}

.deletable {
	width: 100%;
	height: 100%;
}

.deletable h1 {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.selectCharacter {
	position: fixed;
	z-index: 27;
	background-color: rgba(235, 235, 235, .5);
	width: 100vw;
	height: 100vh;
	display: none;
}

.selectCharacter .inner {
	width: 70%;
	height: 70%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	border-radius: 7px;
	overflow-y: auto;
}

.selectCharacter .inner .noCharacter {
	width: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.item {
	width: 50%;
	height: 70%;
	float: left;
}

.item .card {
	width: 70%;
	height: 70%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 7px;
	transition: all ease-in .1s;
	cursor: pointer;
}

.item .card:hover {
	transition: all ease-in .1s;
	width: 72%;
	height: 72%;
}

.item .card h1 {
	width: 94%;
	position: relative;
	top: 3%;
	left: 3%;
}