h1 {
	font-size: 5em;
}

p {
	font-size: 3em;
}

.createParty h1 {
	font-size: 4em;
}

.selectCharacter .inner {
	height: 90%;
	width: 90%;
}

.item {
	width: 100%;
    height: 50%;
    float: left;
}