.wave--popover {
	z-index: 10;
}

.scroll {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.sheet {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.innerPage {
	overflow-y: hidden;
}

.controll {
	height: 20vh;
	width: 60vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 5vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controll .button {
	float: left;
	height: 100%;
	width: 33.333333333333333333333333333%;
	cursor: pointer;
}

.controll .button h1 {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 2em;
}

.controll .button:hover {
	background-color: rgb(235,235,235);
}

.pageArea {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spells {
	width: 100%;
}

.spells .addSpell {
	width: 60%;
	display: inline-block;
}

.spells .addSpell div {
	display: inline-block;
}

.addSpell .title {
	width: 100%;
}

.addSpell .title h1 {
	width: 98%;
	margin-left: 2%;
}

.addSpell .spellName {
	width: 100%;
	height: 9vh;
}

.addSpell .spellName input {
	width: 98%;
	font-size: 1.5em;
}

.addSpell .components {
	height: 9vh;
	width: 100%;
}

.addSpell .description {
	height: 40vh;
	width: 100%;
}

.addSpell .description textarea {
	width: 90%;
	height: 90%;
	resize: none;
	font-size: 1.3em;
}

.addSpell .confirm {
	height: 9vh;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.addSpell .confirm:hover {
	background-color: rgb(235, 235, 235);
}


.addSpell .other {
	height: 9vh;
	width: 100%;
}

.select.input {
	cursor: default;
}

.select.input h1 {
	float: left;
}

.select.input input {
	height: 80%;
	position: relative;
	top: 10%;
	left: 2%;
}

.select.selected {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.addSpell .select {
	padding: 1%;
	background-color: rgb(235, 235, 235);
	float: left;
	margin-left: 2%;
	cursor: pointer;
	margin-top: .5%;
}

.addSpell .select h1 {
	font-size: 1.1em;
}

.spellList {
	width: 100%;
}

.spellList .spell {
	width: 60%;
	margin-top: 3%;
}

.spellList .spell .title {
	width: 100%;
}

.spellList .spell .title h1 {
	width: 98%;
	margin-left: 2%;
}

.spellList .spell .properties {
	margin-top: 1%;
	width: 100%;
	float: none;
	display: inline-block;
}

.spellList .spell .property {
	padding: 1%;
	font-size: 1.1em;
	background-color: rgb(235, 235, 235);
	display: inline-block;
	margin-left: 1%;
	border-radius: 1vh;
	float: left;
	margin-top: .5%;
}

.spellList .spell .property p {
	white-space: nowrap;
}

.spellList .spell .description {
	width: 100%;
	display: inline-block;
	margin-top: 1%;
}

.spellList .spell .description p {
	font-size: 1.1em;
	width: 90%;
	position: relative;
	left: 1%;
	white-space: normal;
}

.characterInfo {
	margin-top: 2%;
	width: 50%;
	position: relative;
	left: 25%;
}

.characterInfo p {
	width: 100%;
	text-align: center;
}

.characterOptions {
	width: 50%;
	position: relative;
	left: 25%;
}

.characterOptions .r {
	height: 5vh;
	width: 100%;
}

.characterOptions .r p {
	margin: 0;
	float: left;
}

.characterOptions .r button {
	float: 0;
	margin: 0;
	float: right;
}

.characterOptions .r select {
	float: right;
}