.list {
	width: 100%;
}

.item {
	width: 25%;
	height: 50vh;
	float: left;
}

.item .inner {
	transition: all ease-in .1s;
	width: 70%;
	height: 70%;
	position: relative;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 7px;
	opacity: 0;
	cursor: pointer;
	color: #3949ab;
}

.item .inner.fadeIn {
	top: 50%;
	opacity: 1;
	transition: all cubic-bezier(0.0, 0.0, 0.2, 1) 100ms;
}

.item .inner:hover {
	transition: all cubic-bezier(0.4, 0.0, 1, 1) 150ms;
	transform: translate(-50%, -50%) scale(1.05);
}

.item .inner h1 {
	position: relative;
    top: 3%;
    left: 3%;
    width: 94%;
}

.item .inner p {
	position: relative;
	top: 3%;
	left: 3%;
	width: 94%;
}

.item .inner img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
