.list {
	width: 100%;
	height: 100%;
}

.item {
	width: 25%;
	height: 50%;
	float: left;
}

.item .inner {
	transition: all ease-in .1s;
	width: 70%;
	height: 70%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 7px;
	cursor: pointer;
}

.item .inner:hover {
	transition: all ease-in .1s;
	width: 72%;
	height: 72%;
}

.item .inner h1 {
	position: relative;
    top: 3%;
    left: 3%;
    width: 94%;
}

.item .inner img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}