.wrapper {
	width: 100%;
	display: inline-block;
}

.wrapper div {
	display: inline-block;
}

.card {
	padding: 1%;
	width: 60%;
}

.fill {
	width: 100%;
}

.top {
	margin-top: .5vh;
}

.card.statblock .name input {
	font-size: 2.5em;
}

.card .divider {
	height: 1px;
	background-color: rgb(235, 235, 235);
}

.card .label {
}

.card .label h1 {
	width: 25%;
	float: left;
	font-size: 1.5em;
}

.card .label input {
	width: 50%;
	float: right;
	font-size: 1.5em;
}

.conditions {
	width: 60%;
	position: relative;
	left: 20%;
}

.conditions .condition {
	width: 90%;
	display: inline-block;
}

.conditions .condition p {
	white-space: pre-line;
}
