@import url('https://fonts.googleapis.com/css?family=Barlow:100');

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.background {
	width: 100vw;
	height: 100vh;
	background-color: white;
}

.login-box {
	width: 30%;
	height: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	position: relative;
	top: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login-box {
	position: relative;
	padding-top: .1%;
	padding-left: .5%;
	color: #00B6C9;
	font-family: 'Barlow', sans-serif;
	
}