.menu {
	width: 80%;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 5vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 5vh;
}

.menuItem {
	width: 100%;
	background-color: white;
	cursor: pointer;
	border-bottom: rgb(235,235,235) solid 1px;
}

.menuItem:hover {
	background-color: rgb(235,235,235);
}

.menuItem h1 {
	font-size: 3em;
	width: 100%;
	text-align: center;
}

.menuItem p {
	font-size: 1.3em;
	width: 70%;
	text-align: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
}