.side {
	position: absolute;
	width: 100%;
	height: 10vh;
	z-index: 10;
}

.characterSheetContainer {
	top: 9%;
	left: 2.5%;
}

.side .inner img {
	height: 9vh;
	width: 9vh;
	float: left;
	margin-left: 1vw;
	overflow-x: auto;
}

#save {
	position: fixed;
    z-index: 200;
    display: none;
    font-size: 3em;
    bottom: 1vh;
    left: 1vw;
}

#kick {
	position: fixed;
    z-index: 200;
    display: none;
    font-size: 3em;
    bottom: 4vh;
    left: 1vw;
}