.cardList {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card {
	width: 100%;
	padding: 2%;
	margin-top: 2vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card #name {
	font-size: 3em;
	font-family: "Vollkorn SC", sans-serif;
}

.card .misc {
	width: 100%;
}

.card .misc h1 {
	width: 50%;
	text-align: center;
	float: left;
}

.card .modifiers {
	width: 100%;
}

.card .modifiers .colom1 {
	width: 50%;
	float: left;
}

.card .modifiers .colom2 {
	width: 50%;
	float: left;
}