@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap");

html, body, main {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
    
    overflow: hidden;
}

main {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.darken {
    height: 100%;
    width: 100%;

    position: relative;

    background-color: rgba(0, 0, 0, .8);
}

.textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    padding: 0;

    font-family: "Roboto Mono";
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: difference;
}

h2 {
    margin: 0;
    padding: 0;

    font-family: Roboto Mono;
    font-size: 1.7vw;
    line-height: 1.7vw;
    font-weight: 700;
    text-align: center;
    color: #B4B4B4;
    mix-blend-mode: difference;
}

.logo {
    height: 88px;
    width: 88px;

    mix-blend-mode: difference;
}

.linkContainer {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.linkContainer a {
    text-decoration: none;
}

.linkContainer img {
    height: 32px;
    width: 32px;

    margin: 0px 16px;
    
    cursor: pointer;
}

@media screen and (max-width: 940px) {
    h1 {
        font-size: 13vw;
        line-height: 13vw;
    }

    h2 {
        font-size: 5vw;
        line-height: 5vw;
    }

    .logo {
        height: 64px;
        width: 64px;
    }
}