.selectCharacter {
	position: fixed;
	z-index: 27;
	background-color: rgba(235, 235, 235, .5);
	width: 100vw;
	height: 100vh;
	display: none;
}

.selectCharacter .inner {
	width: 70%;
	height: 70%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	border-radius: 7px;
	overflow-y: auto;
}

.selectCharacter .inner .noCharacter {
	width: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.item {
	width: 50%;
	height: 70%;
	float: left;
}

.item .card {
	width: 70%;
	height: 70%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 7px;
	transition: all ease-in .1s;
	cursor: pointer;
}

.item .card:hover {
	transition: all ease-in .1s;
	width: 72%;
	height: 72%;
}

.item .card h1 {
	width: 94%;
	position: relative;
	top: 3%;
	left: 3%;
}

.item .card p {
	width: 94%;
    position: relative;
    left: 3%;
}
