html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#app {
  overflow: auto;
}
.playfield {
  display: inline-block;
}
.playfield .layer {
  position: fixed;
  display: inline-block;
}
.playfield .layer .row {
  display: inline-block;
  height: 64px;
  margin-top: -4px;
}
.playfield .layer .row .square {
  width: 64px;
  height: 64px;
  float: left;
  background-size: cover;
}
.playfield .layer .row .square:hover {
  background-image: url("../sprites/gui/cursor.gif");
}
