// out: $1.css, compress: false

@import url('https://fonts.googleapis.com/css?family=Roboto');

font = 'Roboto', sans-serif;

html, body, #app {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header {
	height: 64px;
	width: 100%;

	.part {
		width: 64px;
		height: 64px;
		float: left;

		img {
			height: 70%;
			width: 70%;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
		}

	}

	.whole {
		width: calc(100% - 128px);
		height: 64px;
		float: left;
	}

}

.body {

	height: calc(100% - 64px);
	width: 100%;

	.login {
		width: 95%;
		max-width: 500px;
		padding: 12px 0px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
		box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

		h1 {
			font-size: 46px;
			font-family: font;
			text-align: center;
		}

		.button {

			height = 36px;

			width: 50%;
			max-width: 350px;
			height: height;
			margin: 16px 0px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 2px;
			cursor: pointer;
			background-color: #3c4146;
			box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

			.image {
				width: height;
				height: height;
				float: left;

				img {

					size = 60%;

					width: size;
					height: size;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

			}

			.text {
				width: "calc(100% - %s)" % height;
				height: height;
				float: left;

				p {
					margin: 0;
					padding: 0px 8px;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: font;
					font-size: 16px;
					color: white;
				}

			}

		}

	}
}
