<div class="innerResources">
	<script>
		tempImport([
			"--default"
		]);
	</script>
</div>
<div class="innerPage scroll" id="vueInstance">
	<div class="spinner" v-if="spinning">
		<div class="inner"></div>
	</div>
	<div class="banner" v-if="permissionGranted === false">
		<div class="text">
			<p>Give your DM permission to write to your character sheet. This will allow the DM to add items to your inventory.</p>
		</div>
		<div class="actions">
			<button @click="grantPermission()">give permission</button>
			<button @click="dismiss()">dismiss</button>
		</div>
	</div>
	<div class="lane">
		<div class="entry" style="margin-top: 24px;">
			<img class="topUserImage" v-bind:src="currentUser.profileImage" />
			<h1 class="textCenter noOverflow">{{ welcomeText }} {{ currentUser.username }}</h1>
		</div>
		<div class="entry">
			<h2>Next session</h2>
			<h1 class="textCenter">{{ timerOutput }}</h1>
			<div v-if="isDM">
				<div>
					<div class="datePicker">
						<select v-model="pickedDate.day">
							<option v-for="day in datePicker.days" v-bind:value="day">{{ day }}</option>
						</select>
						<select v-model="pickedDate.month">
							<option v-for="month in datePicker.months" v-bind:value="month">{{ month }}</option>
						</select>
						<select v-model="pickedDate.year">
							<option v-for="year in datePicker.years" v-bind:value="year">{{ year }}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="timePicker">
						<select v-model="pickedDate.hour">
							<option v-for="hour in datePicker.hours" v-bind:value="hour">{{ hour }}</option>
						</select>
						<select v-model="pickedDate.minute">
							<option v-for="minute in datePicker.minutes" v-bind:value="minute">{{ minute }}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="confirm">
						<button class="border" @click="setTime()">Set</button>
					</div>
				</div>
			</div>
		</div>
		<div class="entry">
			<h2>Characters</h2>
			<div class="listItem" v-for="player in players">
				<div @click="togglePlayerOpen(player)" class="user" style="cursor: pointer;">
					<img v-bind:src="player.profile.usericon" />
					<h1>{{ player.characterObj.characterName }}</h1>
				</div>
				<div v-if="player.open == true"style="margin-top: 10px;">
					<div class="btn">
						<button @click="viewCharacter(player)">Open character</button>
						<button class="danger" @click="kick(player, false, true)" v-if="isDM">Kick</button>
					</div>
				</div>
			</div>
			<h1 v-if="players.length == 0" class="textCenter">No player has joined yet</h1>
		</div>
		<div class="entry">
			<h2>Campaign companion</h2>
			<p>Here you can find information provided by your DM about the current campaign with things like NPC's you've encountered and locations you've visited.</p>
			<div class="btn">
				<button @click="openInformation()">Open</button>
			</div>
		</div>
		<div class="entry" v-if="isDM">
			<h2>DM Dashboard</h2>
			<p>Staying consistent across sessions is crusial to keeping the world you paint believable. This tool helps you with that. Not only can you keep track of important information like NPC's and locations and a whole lot more, but you also can help your players remember all the information they get in sessions.</p>
			<div class="btn">
				<button @click="openDashboard()">Open</button>
			</div>
		</div>
		<div class="entry" v-if="isDM">
			<h2>Story</h2>
			<p>Orginize your story hooks into chapters making it easier to run and plan a story.</p>
			<div class="btn">
				<button @click="openStory()">Open</button>
			</div>
		</div>
		<div class="entry" v-if="houserules.length > 0 || isDM">
			<h2>House rules</h2>
			<div>
				<div class="listItem" v-for="rule in houserules">
					<div v-if="rule.editing != true">
						<div class="shared" @click="toggleRule(rule)">
							<h1 class="noOverflow">{{ rule.title }}</h1>
						</div>
						<div v-if="rule.opened">
							<p v-for="line in rule.description">{{ line }}</p>
						</div>
						<div class="btn icn" v-if="isDM && rule.opened === true">
							<button @click="deleteRule(rule)" class="danger"><span class="material-icons">delete</span></button>
							<button @click="editRule(rule);"><span class="material-icons">edit</span></button>
						</div>
					</div>
					<div v-if="rule.editing == true">
						<div>
							<input v-model="rule.title" placeholder="Title">
							<textarea v-model="rule.adescription"placeholder="Description"></textarea>
							<button @click="saveRule(rule)" class="full">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div v-if="isDM" class="listItem">
				<input v-model="editingRule.title" placeholder="Title">
				<textarea v-model="editingRule.description" placeholder="Description"></textarea>
				<button @click="addHouserule();" class="full">Add</button>
			</div>
		</div>
		<div class="entry">
			<h2>The Dungeon Master</h2>
			<div class="listItem">
				<div class="user">
					<img v-bind:src="dm.profileImage">
					<h1>{{ dm.username }}</h1>
				</div>
			</div>
		</div>
		<div class="entry">
			<h2>Options</h2>
			<div v-if="isDM">
				<input v-model="campaignName" placeholder="Campaign name" />
				<div class="btn">
					<button @click="changeCampaignName()">change</button>
				</div>
			</div>
			<div class="btn" v-if="!isDM">
				<button v-if="!isDM" class="danger" @click="kick(self, 'self', 'campaignMenu')">Leave campaign</button>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>
