<div class="innerPage scroll">
	<script>
		tempImport([
			"--default"
		])
	</script>
	<div class="lane" id="vueInstance">
		<div class="entry" style="margin-top: 24px;">
			<img class="topUserImage" v-bind:src="currentUser.profileImage" />
			<h1 class="textCenter">{{ welcomeText }} {{ currentUser.username }}</h1>
		</div>
		<div class="entry">
			<h2>Next session</h2>
			<h1 class="textCenter">{{ timerOutput }}</h1>
			<div v-if="isDM == true">
				<div>
					<div class="datePicker">
						<select v-model="pickedDate.day">
							<option v-for="day in datePicker.days" v-bind:value="day">{{ day }}</option>
						</select>
						<select v-model="pickedDate.month">
							<option v-for="month in datePicker.months" v-bind:value="month">{{ month }}</option>
						</select>
						<select v-model="pickedDate.year">
							<option v-for="year in datePicker.years" v-bind:value="year">{{ year }}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="timePicker">
						<select v-model="pickedDate.hour">
							<option v-for="hour in datePicker.hours" v-bind:value="hour">{{ hour }}</option>
						</select>
						<select v-model="pickedDate.minute">
							<option v-for="minute in datePicker.minutes" v-bind:value="minute">{{ minute }}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="confirm">
						<button @click="setTime()">Set</button>
					</div>
				</div>
			</div>
		</div>
		<div class="entry">
			<h2>Characters</h2>
			<div class="listItem playerItem" v-for="player in players">
				<img v-bind:src="player.profile.usericon" />
				<h1>{{ player.profile.username }}</h1>
			</div>
		</div>
	</div>
	<div class="push"></div>
	<script>onLoaded();</script>
</div>
