<div class="innerResources">
	<script>
		tempImport([
			"--default"
		]);
	</script>
</div>
<div class="innerPage scroll" id="vueInstance">
	<div class="spinner whiteBackground" v-if="spinning">
		<div class="inner"></div>
	</div>
	<div class="lane">
		<div class="entry" style="margin-top: 24px;">
			<img class="topUserImage" v-bind:src="currentUser.profileImage" />
			<h1 class="textCenter noOverflow">{{ welcomeText }} {{ currentUser.username }}</h1>
		</div>
		<div class="entry">
			<h2>Next session</h2>
			<h1 class="textCenter">{{ timerOutput }}</h1>
			<div v-if="isDM">
				<div>
					<div class="datePicker">
						<select v-model="pickedDate.day">
							<option v-for="day in datePicker.days" v-bind:value="day">{{ day }}</option>
						</select>
						<select v-model="pickedDate.month">
							<option v-for="month in datePicker.months" v-bind:value="month">{{ month }}</option>
						</select>
						<select v-model="pickedDate.year">
							<option v-for="year in datePicker.years" v-bind:value="year">{{ year }}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="timePicker">
						<select v-model="pickedDate.hour">
							<option v-for="hour in datePicker.hours" v-bind:value="hour">{{ hour }}</option>
						</select>
						<select v-model="pickedDate.minute">
							<option v-for="minute in datePicker.minutes" v-bind:value="minute">{{ minute }}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="confirm">
						<button @click="setTime()">Set</button>
					</div>
				</div>
			</div>
		</div>
		<div class="entry">
			<h2>Characters</h2>
			<div class="listItem playerItem" v-for="player in players">
				<img @click="togglePlayerOpen(player)" v-bind:src="player.profile.usericon" />
				<h1 @click="togglePlayerOpen(player)">{{ player.characterObj.characterName }}</h1>
				<div class="content" v-if="player.open == true">
					<button @click="viewCharacter(player)">Open character</button>
					<button class="danger" @click="kick(player, false, true)" v-if="isDM">Kick</button>
					<!-- <button class="danger" v-if="isDM">Ban</button> -->
				</div>
			</div>
		</div>
		<div class="entry">
			<h2>Campaign companion</h2>
			<div class="btn">
				<button @click="openInformation()">Open</button>
			</div>
		</div>
		<div class="entry" v-if="isDM">
			<h2>DM Dashboard</h2>
			<div class="btn">
				<button @click="openDashboard()">Open</button>
			</div>
		</div>
		<div class="entry" v-if="houserules.length > 0 || isDM">
			<h2>House rules</h2>
			<div>
				<div class="listItem" v-for="rule in houserules">
					<div v-if="rule.editing != true">
						<div>
							<h1 class="noOverflow">{{ rule.title }}</h1>
							<div>
								<p v-for="line in rule.description">{{ line }}</p>
							</div>
						</div>
						<div class="btn" v-if="isDM">
							<button @click="editRule(rule);">Edit</button>
							<button @click="deleteRule(rule)" class="danger">Delete</button>
						</div>
					</div>
					<div v-if="rule.editing == true">
						<div>
							<input v-model="rule.title" placeholder="Title">
							<textarea v-model="rule.adescription"placeholder="Description"></textarea>
							<button @click="saveRule(rule)" class="full">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div v-if="isDM" class="listItem">
				<input v-model="editingRule.title" placeholder="Title">
				<textarea v-model="editingRule.description" placeholder="Description"></textarea>
				<button @click="addHouserule();" class="full">Add</button>
			</div>
		</div>
		<div class="entry">
			<h2>Options</h2>
			<button v-if="!isDM" class="danger" @click="kick(self, 'self', 'campaignMenu')">Leave campaign</button>
		</div>
	</div>
	<div class="push"></div>
</div>
