.wave--placer {
/*	width: 25%;*/
	height: 75%;
	float: left;
	color: white;
	font-family: 'roboto';
}

.wave.card {
/*	width: 80%;*/
	height: 80%;
	border-radius: 10px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow:0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);box-shadow:0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
}

.wave.card.flat {
	box-shadow: none;
	background-color: rgba(235,235,235);
}

.wave.card .head {
	width: 100%;
}

.wave.card .head .icon--wrapper {
	width: 100%;
}

.wave.card .head icon {
	position: relative;
    left: 10%;
}

.wave.card .head .icon--wrapper i {
	font-size: 7rem;
}

.wave.card .head h1 {
	font-family: 'roboto';
    position: relative;
    left: 5%;
	top: 10%;
	font-size: 2em;
    margin: 0;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
}

.wave.card .content {
	margin: 0;
    position: relative;
    top: 3%;
    left: 5%;
    width: 90%;
    font-family: 'roboto';
	font-size: 1.2em;
}

.wave.card p, h1, h2, h3, h4, h5 {
	margin: 0;
}

.action--wrapper {
	position: absolute;
    height: 15%;
    top: 85%;
    width: 100%;
}

.action--wrapper .action {
	width: 90%;
    height: 60%;
    background-color: white;
    color: black;
    position: relative;
    left: 5%;
    top: 10%;
    border-radius: 10px;
	cursor: pointer;
	transition: .1s all ease-in;
}

.action--wrapper .action:hover {
	box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
	transition: .1s all ease-in;
}

.action--wrapper .action p {
	text-align: center;
    font-size: 1.6em;
    position: relative;
    height: 90%;
    top: 15%;
}