<div class="innerPage">
	<link href="../assets/components/dnd/css/campaignMenu.css" rel="stylesheet" type="text/css">
	<link href="../assets/components/dnd/css/campaignMenu.m.css" rel="stylesheet" type="text/css" media="screen and (max-device-width: 800px)">
	<script src="../assets/components/dnd/js/campaignMenu.js"></script>
	<div class="selectCharacter">
		<div class="inner shadow-5">
		</div>
	</div>
	<div class="scroll">
		<div class="partyList">
		</div>
	</div>
	<script>loader.hide();</script>
</div>