<div class="innerPage scroll">
	<script src="../assets/components/dnd/js/characterLoader.js"></script>
	<link href="../assets/components/dnd/css/campaign.css" rel="stylesheet" type="text/css">
	<link href="../assets/components/dnd/css/campaign.m.css" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
	<script src="../assets/components/dnd/js/campaign.js"></script>
	<div class="head">
		<div class="top">
			<h1 id="partyId"></h1>
		</div>
		<div class="bottom">
			<div class="DM">
				<img id="DMusericon">
				<h1 id="DMusername"></h1>
			</div>
		</div>
	</div>
	<div class="playerList">
		<div class="innerList">
		</div>
	</div>
	<div class="button" onclick="toggleCharacter()">
		<h1 id="toggle">Hide character sheet</h1>
	</div>
	<div class="characterContainer">
	</div>
	
    <div class="button changeId" onclick="changeId()" style="display:none">
		<h1>Change Campaign id</h1>
	</div>
	
	<div class="button save" onclick="save()" style="display:none">
		<h1>Save</h1>
	</div>
	<div class="button kick" onclick="kick(false)" style="display:none">
		<h1>Kick</h1>
	</div>
	<div class="button ban" onclick="ban()" style="display:none">
		<h1>Ban</h1>
	</div>
	<div class="button leave" onclick="leave()" style="display:none">
		<h1>Leave campaign</h1>
	</div>
	<div class="button delete" onclick="del()" style="display:none;">
		<h1>Delete campaign</h1>
	</div>
	<div class="push"></div>
	<script>loader.hide();</script>
</div>