<div class="innerPage">
	<script src="../assets/components/dnd/js/characterEditor.js"></script>
	<link href="../assets/components/dnd/css/characterEditor.css" type="text/css" rel="stylesheet">
	<div class="scroll">
		<div class="controll">
			<div class="button" onclick="loadCharacter()"><h1>Load</h1></div>
			<div class="button" onclick="saveCharacter()"><h1>Save</h1></div>
			<div class="button" onclick="saveAsCharacter()"><h1>Save as</h1></div>
		</div>
		<div class="sheet">
			<div class="characterContainer">

			</div>
		</div>
	</div>
</div>