<div class="innerPage">
	<script src="../assets/components/dnd/js/characterLoader.js"></script>
	<script src="../assets/components/dnd/js/characterEditor.js"></script>
	<link href="../assets/components/dnd/css/characterEditor.css" type="text/css" rel="stylesheet">
	<link href="../assets/components/dnd/css/characterEditor.m.css" media="screen and (max-device-width: 800px)" type="text/css" rel="stylesheet">
	<div class="scroll">
		<div class="tester" style="position: fixed; width: 50px; height: 50px; background-color: red; z-index: 10; display: none;"></div>
		<div class="controll">
			<div id="test" class="button" onclick="saveCharacter(true)"><h1>Save</h1></div>
			<div class="button" onclick="del()"><h1>Delete</h1></div>
			<div class="button" onclick="openPage('characterList')"><h1>Back</h1></div>
		</div>
		<div class="sheet">
			<div class="characterContainer">

			</div>
		</div>
	</div>
</div>