<div class="innerPage scroll">
	<link href="../assets/components/dnd/css/dashboard.css" rel="stylesheet" type="text/css">
	<div class="row">
		<div class="col s12 m4">
			<div class="card blue">
				<div class="card-content white-text">
					<span class="card-title">Get started</span>
					<p>Get started by creating a new character. If you need it you can click on 'D&amp;D Beyond' for help.</p>
				</div>
				<div class="card-action">
					<a onclick="openPage('characterEditor')">Character editor</a>
					<a href="https://www.dndbeyond.com" target="_blank">D&amp;D Beyond</a>
				</div>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card blue">
				<div class="card-content white-text">
					<span class="card-title">Find a race</span>
					<p>Find a race that is best for you. There are official and custom races. To find out more about a race, check out 'D&amp;D Beyond'.</p>
				</div>
				<div class="card-action">
					<a onclick="openPage('races')">Races</a>
					<a href="https://www.dndbeyond.com" target="_blank">D&amp;D Beyond</a>
				</div>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card white">
				<div class="card-content black-text">
					<span class="card-title">Join a campaign</span>
					<p>To be able to see each others character sheets (and do a lot more) you can join or create a campaign. If you host, you are automaticly the DM, so keep that in mind</p>
				</div>
				<div class="card-action">
					<a onclick="openPage('campaignMenu')">Campaigns</a>
				</div>
			</div>
		</div>
	</div>
</div>