<div class="innerPage">
	<script id="T1" type="text/javascript"></script>
	<link id="T2" rel="stylesheet" type="text/css">
	<link id="T3" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
	<div class="cards">
		<div class="cardWrapper">
			<div class="card s3 center rounded">
				<div class="top">
					<div class="icon">
						<i class="material-icons i center">assignment</i>
					</div>
					<div class="text">
						<h1 class="center">News</h1>
					</div>
				</div>
				<div class="content">
					<p>Hello World</p>
				</div>
			</div>
		</div>
	</div>
	<script>
		$("#T1").attr("src", "../assets/components/dnd/js/" + sessionStorage.getItem("::openPage") + ".js");
		$("#T2").attr("href", "../assets/components/dnd/css/" + sessionStorage.getItem("::openPage") + ".css");
		$("#T3").attr("href", "../assets/components/dnd/css/" + sessionStorage.getItem("::openPage") + ".m.css");
	</script>
	<script>onLoaded();</script>
</div>
