<!DOCTYPE html>

<html>
	<body>
		<div class="innerPage">
			<link href="../assets/components/dnd/css/mainPage.css" rel="stylesheet" type="text/css">
			<script src="../assets/components/dnd/js/mainPage.js"></script>
			<div class="joinParty">
				<div class="center">
					<h1>Join party</h1>
					<input type="text" placeholder="Party id" id="joinPartyId">
					<button onclick="joinParty()">Join</button>
				</div>
			</div>
			<div class="createParty">
				<div class="center">
					<h1>Create party</h1>
					<input type="text" placeholder="Party id" id="createPartyId">
					<button onclick="createParty()">Create</button>
				</div>
			</div>
		</div>
	</body>
</html>