<!DOCTYPE html>

<html>
	<body>
		<div class="innerPage scroll">
			<link href="../assets/components/dnd/css/menu.css" rel="stylesheet" type="text/css">
			<link href="../assets/components/dnd/css/menu.m.css" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
			<div class="menu">
				<div class="menuItem" onclick="openPage('characterEditor')">
					<h1>Character Editor</h1>
					<p>Create a character with the character editor</p>
				</div>
				<div class="menuItem" onclick="openPage('partyMenu')">
					<h1>Party</h1>
					<p>Create a party that friends can join to be able to see each others character sheet.</p>
				</div>
				<div class="menuItem" onclick="openPage('races')">
					<h1>Races</h1>
					<p>Find custom and original races.</p>
				</div>
<!--
                <div class="menuItem" onclick="openPage('npcEditor')">
					<h1>NPC editor</h1>
					<p>Create NPC's for your adventure in this NPC editor.</p>
				</div>
-->
			</div>
		</div>
	</body>
</html>