<div class="innerPage scroll">
	<link href="../assets/components/dnd/css/news.css" rel="stylesheet" type="text/css">
	<link href="../assets/components/dnd/css/news.m.css" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
	<div class="list shadow">
		<div class="version">
			<div class="title">
				<h1>VA0.2</h1>
			</div>
			<div class="changes">
				<ul>
					<li>+ Added this news page</li>
					<li>+ Allowed the DM to change the campaign id</li>
					<li>+ Added a DEV mode so new feature testing doesn't mess up the production database</li>
					<li>* Updated the character sheet style a bit</li>
					<li>* Notifies are now less annoying</li>
					<li>* Updated the races card styles a bit</li>
					<li>* Changed the menu button to blue</li>
					<li>* Now when you click on the version you get to this page</li>
					<li>~ Long character names now don't mess up the page</li>
				</ul>
			</div>
		</div>
	</div>
</div>