<div class="innerPage">
    <link href="../assets/components/dnd/css/npcEditor.css" rel="stylesheet" type="text/css">
    <script src="../assets/components/dnd/js/npcEditor.js"></script>
    <div class="buttons shadow">
        <div class="button">
            <h1>Quick npc</h1>
        </div>
        <div class="button">
            <h1>Specific npc</h1>
        </div>
        <div class="button">
            <h1>Load npc</h1>
        </div>
        <div class="button">
            <h1>Create npc</h1>
        </div>
    </div>
</div>