<!DOCTYPE html>

<html>
	<body>
		<div class="innerPage">
			<link href="../assets/components/dnd/css/partyMenu.css" rel="stylesheet" type="text/css">
			<script src="../assets/components/dnd/js/partyMenu.js"></script>
			<div class="colom1">
				<div class="box">
					<h1>Join</h1>
					<input placeholder="character name" type="text" id="character">
					<input placeholder="Party id" type="text" id="join">
					<button class="blue" id="btnJoin">Join</button>
				</div>
			</div>
			<div class="colom2">
				<div class="box">
					<h1>Host</h1>
					<input placeholder="Party id" type="text" id="host">
					<button class="blue" id="btnHost">Host</button>
				</div>
			</div>
		</div>
	</body>
</html>