.projectsList {
	width: calc(20% - 1px);
	height: 100%;
	border-right: 1px solid rgb(235, 235, 235);
	float: left;
}

.projectsList .list {
	height: calc(90% - 1px);
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.projectsList .list .project {
	width: 100%;
	height: calc(10%);
	cursor: pointer;
}

.projectsList .list .project:hover {
	background-color: rgb(235, 235, 235);
}

.projectsList .list .project .color {
	width: 7%;
	height: 100%;
	float: left;
}

.projectsList .list .project .info {
	float: left;
	width: 93%;
	height: 100%;
}

.projectsList .list .project .info h1 {
	width: 99%;
	margin-left: 1%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.projectsList .loader {
	width: 100%;
	height: 1px;
}

.projectsList .add {
	width: 100%;
	height: 10%;
	cursor: pointer;
}

.projectsList .add:hover {
	background-color: rgb(245, 245, 245);
}

.projectsList .add h1 {
	margin: 0;
	width: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.content {
	width: 80%;
	height: 100%;
	float: left;
}

.content .name {
	width: 100%;
	height: calc(20% - 1px);
	border-bottom: 1px solid rgb(235, 235, 235);
}

.content .name input {
	height: calc(100% - 2px);
	width: 98%;
	border: 0;
	outline: 0;
	font-size: 700%;
	position: relative;
	left: 2%;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.content .settings {
	height: calc(70% - 1px);
	width: 100%;
}

.content .settings .colorPicker {
	width: 100%;
	height: calc(20% - 1px);
	border-bottom: 1px solid rgb(235, 235, 235);
}

.content .settings .colorPicker .color {
	height: 100%;
	width: 12.5%;
	float: left;
	transition: .1s all ease-in;
	cursor: pointer;
}

.content .settings .colorPicker .color.selected {
	width: calc(12.5% - 2px);
	height: calc(100% - 2px);
	border: 1px solid #3e3e3e;
}

.content .settings .colorPicker .color:hover {
	transform: scale(1.1);
	transition: .1s all ease-in;
}

.content .create {
	border-top: solid 1px rgb(235, 235, 235);
	height: 10%;
	width: 100%;
	cursor: pointer;
}

.content .create:hover {
	background-color: rgb(235, 235, 235);
}

.content .create h1 {
	margin: 0;
	width: 50%;
	text-align: center;
}