@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto+Mono:400,700&display=swap');

h1, h2 {
    font-family: "Roboto Mono";
    font-weight: 700;
}

h1 {
    color: #59a1ff;
}

h2 {
    color: #7495c0;
}

a {
    color: #00fff3;
}

p, table, form, li {
    color: #ffffff;
    font-family: "Montserrat";
}

body {
    background-color: #272727;
}

th {
    font-weight: bold;
}

td {
    font-style: italic;
}

main, header, footer {
    width: 800px;

    margin-left: auto;
    margin-right: auto;
}

.red {
    color: #ff3030;
}

.green {
    color: #30ff30;
}

.blue {
    color: #3030ff;
}

.orange {
    color: #ff6309;
}

.yellow {
    color: #ffff30;
}

.purple {
    color: #9f07e6;
}

tr td:nth-child(even):not(:nth-child(4)) {
    color: #0b9cf0;
}