<!DOCTYPE html>

<html>
	<head>
		<title>DnD - Login</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- Styles -->
		<link type="text/css" rel="stylesheet" href="./css/login.css">
		<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
		<link type="text/css" rel="stylesheet" href="./css/login.m.css" media="screen and (max-device-width: 800px)">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

		<!-- Scripts -->
		<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
		<script src="https://www.gstatic.com/firebasejs/ui/2.3.0/firebase-ui-auth__en.js"></script>
		<script src="./js/login.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	</head>
	<body>
		<div class="background">
			<div class="color"></div>
			<div class="white"></div>
		</div>
		<div class="box z-depth-5">
			<div class="title">
				<h1>Login</h1>
			</div>
			<div class="content">
				<div id="firebaseui-auth-container"></div>
			</div>
		</div>
	</body>
<!--	<div id="firebaseui-auth-container"></div>-->
</html>
