#main-title {
	font-family: 'Poiret One', cursive;
}

input {
	width: 75%;
}

html {
	height: 100vh;
	width: 100vw;
}

.main {
    height: 100vh;
    width:  100vw
    position: relative;
}
.main .container {
	text-align: center;
	align-content: center;
	align-items: center;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-title {
	margin-top: -25px;
	font-size: 50px;
}

.begin {
	margin-top: 20px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid blue;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 10%;
}

.begin span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.begin span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.begin:hover span {
  padding-right: 25px;
}

.begin:hover span:after {
  opacity: 1;
  right: 0;
}

input {
	margin-top: 10px;
	font-size: 30px;
	transition: ease-in 0.5s all;
    border: none;
    border-bottom: 2px solid black;
}

input:focus {
	transition: ease-in 0.5s all;
	transform: scale(1.01);
    border: none;
    border-bottom: 2px solid black;
}