.row div {
	float: left;
}

/* Sizes */
.d1 {
	width: calc(4.16666666667%);
}

.d2 {
	width: calc(4.16666666667% * 2);
}

.d3 {
	width: calc(4.16666666667% * 3);
}

.d4 {
	width: calc(4.16666666667% * 4);
}

.d5 {
	width: calc(4.16666666667% * 5);
}

.d6 {
	width: calc(4.16666666667% * 6);
}

.d7 {
	width: calc(4.16666666667% * 7);
}

.d8 {
	width: calc(4.16666666667% * 8);
}

.d9 {
	width: calc(4.16666666667% * 9);
}

.d10 {
	width: calc(4.16666666667% * 10);
}

.d11 {
	width: calc(4.16666666667% * 11);
}

.d12 {
	width: calc(4.16666666667% * 12);
}

.d13 {
	width: calc(4.16666666667% * 13);
}

.d14 {
	width: calc(4.16666666667% * 14);
}

.d15 {
	width: calc(4.16666666667% * 15);
}

.d16 {
	width: calc(4.16666666667% * 16);
}

.d17 {
	width: calc(4.16666666667% * 17);
}

.d18 {
	width: calc(4.16666666667% * 18);
}

.d19 {
	width: calc(4.16666666667% * 19);
}

.d20 {
	width: calc(4.16666666667% * 20);
}

.d21 {
	width: calc(4.16666666667% * 21);
}

.d22 {
	width: calc(4.16666666667% * 22);
}

.d23 {
	width: calc(4.16666666667% * 23);
}

.d24 {
	width: calc(4.16666666667% * 24);
}