div.wave.card {
	width: 350px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	font-family: "Roboto", sans-serif;
}

div.wave.card > div.title {
	padding: 1rem;
}

div.wave.card > div.title h1 {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: .0125em;
	line-height: 2rem;
	margin: 0;
}

div.wave.card > div.title p {
	font-size: .875rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .00714em;
	margin: 0;
	color: rgba(0,0,0,.54);
}

div.wave.card > div.content {
	padding: 0 1rem 8px;
}

div.wave.card > div.content p {
	line-height: 1.25rem;
    font-weight: 400;
	font-size: .875rem;
    letter-spacing: .01786em;
	color: rgba(0,0,0,.54);
	margin: 0;
}

div.wave.card > div.actions {
	min-height: 52px;
	padding: 8px;
	box-sizing: border-box;
}

div.wave.card > div.actions button {
	margin-left: 0;
    margin-right: 8px;
    padding: 0 8px;
	min-width: 64px;
	height: 36px;
	border: none;
	outline: none;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
	font-weight: 500;
    letter-spacing: .08929em;
	font-size: .875rem;
	line-height: inherit;
	background-color: transparent;
	text-transform: uppercase;
	color: rgb(0,128,255);
	text-decoration: none;
	cursor: pointer;
}

div.wave.card > div.actions button:hover {
	background-color: rgb(235, 235, 235);
}
