button.wave i {
	margin-top: -20%;
}

button.wave i.right {
	transform: translate(20%, 30%);
}

button.wave i.left {
	transform: translate(-20%, 30%);
}

button.wave {
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 9px;
	padding-right: 9px;
	font-size: 1em;
	border: 0;
	border-radius: 2px;
	color: rgb(0,128,255);
	outline: none;
	cursor: pointer;
}

button.wave.prime:disabled {
	background-color: #81B59D;
	color: white;
	box-shadow: 0;
}

button.wave.flat:disabled {
	color: #81B59D !important;
	cursor: default;
}

button.wave.flat:disabled:hover {
	background-color: transparent;
}

button.wave.wide {
	padding-left: 27px;
	padding-right: 27px;
}

button.wave.prime {
	background-color: rgb(0,128,255);
	color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 100ms cubic-bezier(.25,.8,.25,1);
}

button.wave.prime:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button.wave.flat:hover {
	background-color: rgb(245, 245, 245);
}

button.wave.fab {
	position: fixed;
	height: 7.5vh;
	width: 7.5vh;
	top: 90vh;
	left: calc(100vw - 10vh);
}
