<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="Description" content="Get it done">
		<title id="title">Dashboard</title>

		<!-- API's and libraries -->
		<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js"></script>
		<script id="vueLib" src="https://cdn.jsdelivr.net/npm/vue"></script>

		<!-- App scripts -->
		<script src="./src/js/setup.js" charset="utf-8"></script>
		<script src="./src/js/index.js" charset="utf-8" async></script>

		<!-- Styles -->
		<link href="../assets/icon_medium.png" rel="icon" />
		<link href="./src/css/index.css" rel="stylesheet" />
	</head>
	<body>

		<div id="app">
			<div class="header">
				<div class="part">

				</div>
				<div class="whole">

				</div>
				<div class="part">
					<img v-if="user.icon !== ''" :src="user.icon" />
				</div>
			</div>
			<div class="body" id="body">
				<div class="login" v-if="prompt.login">
					<h1>Login with github</h1>
					<div class="button" @click="login()">
						<div class="image">
							<img src="./src/images/github-logo.png" />
						</div>
						<div class="text">
							<p>Login with github</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
