<div class="innerResources">
	<script>
		tempImport([
			"--default"
		])
	</script>
</div>
<div class="innerPage scroll">
	<div class="lane" id="vueInstance">
		<div class="entry">
			<h2>Status</h2>
			<h1 v-bind:style="status.style">{{ status.status }}</h1>
			<p>{{ status.info }}</p>
			<input v-model="newStatus.status" placeholder="Status" />
			<textarea v-model="newStatus.info" placeholder="Info"></textarea>
			<div class="btn">
				<button @click="updateStatus()">Update status</button>
			</div>
		</div>
		<div class="entry">
			<h2>Controlls</h2>
			<div class="btn">
				<button onclick="refreshUsers()">Refresh users</button>
				<button @click="stopEmulation()">Stop emulation</button>
			</div>
		</div>
		<div class="entry">
			<h2>Users</h2>
			<div class="listItem" v-for="user in users">
				<h1 class="pointer" @click="toggleOpen(user)">{{ user.username }}</h1>
				<div class="content" v-if="user.shown == true">
					<p><b>Uid:</b> {{ user.uid }}</p>
					<p><b>User code:</b> {{ user.userId }}</p>
					<p><b>Last login:</b> {{ user.lastLogin }}</p>
					<p><b>First login:</b> {{ user.firstLogin }}</p>
					<p><b>Agreed to tou: </b><span v-if="user.tou === true">true</span><span v-else>false</span></p>
					<div class="btn">
						<button @click="inspectUser(user)">Inspect</button>
						<button @click="startEmulation(user.uid)">Emulate user</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
