<div class="innerPage scroll">
	<script>
		tempImport([
			"--default"
		])
	</script>
	<div class="lane" id="vueInstance">
		<div class="entry">
			<h2>Controlls</h2>
			<button @click="stopEmulation()">Stop emulation</button>
		</div>
		<div class="entry">
			<h2>Users</h2>
			<div class="listItem" v-for="user in users">
				<h1 class="pointer" @click="toggleOpen(user)">{{ user.username }}</h1>
				<div class="content" v-if="user.shown == true">
					<p><b>Uid:</b> {{ user.uid }}</p>
					<p><b>User code:</b> {{ user.userCode }}</p>
					<p><b>Last login:</b> {{ user.lastLogin }}</p>
					<p><b>First login:</b> {{ user.firstLogin }}</p>
					<button @click="startEmulation(user.uid)">Emulate user</button>
				</div>
			</div>
		</div>
	</div>
	<script>loader.hide();</script>
</div>
