<div class="innerPage scroll">
	<script src="../assets/components/dndb/js/characterLoader.js"></script>
	<link href="../assets/components/dndb/css/campaign.css" rel="stylesheet" type="text/css">
	<link href="../assets/components/dndb/css/campaign.m.css" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
	<script src="../assets/components/dndb/js/campaign.js"></script>
	<div class="lane" id="vueInstance">
		<div class="entry" style="margin-top: 24px;">
			<img class="topUserImage" v-bind:src="currentUser.profileImage" />
			<h1 class="textCenter">{{ welcomeText }} {{ currentUser.username }}</h1>
		</div>
		<div class="entry">
			<h2>Next session</h2>
			<h1 class="textCenter">10d 10h 10m 10s</h1>
			<div v-if="isDM == true">
				<div>
					<div class="datePicker">
						<select>
							<option v-for="day in datePicker.days" value="{{ day }}">{{ day }}</option>
						</select>
						<select>
							<option v-for="month in datePicker.months" value="{{ month }}">{{ month }}</option>
						</select>
						<select>
							<option v-for="year in datePicker.years" value="{{ year }}">{{ year }}</option>
						</select>
					</div>
				</div>
				<div>
					<div class="timePicker">
						<select>
							<option v-for="hour in datePicker.hours" value="{{ hour }}">{{ hour }}</option>
						</select>
						<select>
							<option v-for="minute in datePicker.minutes" value="{{ minute }}">{{ minute }}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
	<script>onLoaded();</script>
</div>
