<div class="innerPage scroll">
	<script src="../assets/components/dndb/js/characterList.js"></script>
	<link href="../assets/components/dndb/css/characterList.css" type="text/css" rel="stylesheet">
	<link href="../assets/components/dndb/css/characterList.m.css" media="screen and (max-device-width: 800px)" type="text/css" rel="stylesheet">
	<div class="cards wave grid">
		<!-- <div class="cardWrapper">
			<div class="card shadow-2 select">
				<div class="color"></div>
				<div class="content">
					<h1>Name</h1>
					<p>Wizard 1, human</p>
				</div>
			</div>
		</div> -->
	</div>
	<button class="wave fab" onclick="add();">
		<i class="material-icons">add</i>
	</button>
	<div class="wave menu alignRight" id="sortMenu">
		<a>Sort by name</a>
		<a>Sort by last modified</a>
	</div>
	<script>onLoaded();</script>
	<div class="push"></div>
</div>
