<div class="innerPage scroll">
	<script src="../assets/components/dndb/js/characterLoader.js"></script>
	<script src="../assets/components/dndb/js/characterEditor.js"></script>
	<link href="../assets/components/dndb/css/characterEditor.css" type="text/css" rel="stylesheet">
	<link href="../assets/components/dndb/css/characterEditor.m.css" media="screen and (max-device-width: 800px)" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="../assets/components/dndb/css/itemList.css" />
	<link href="../assets/components/dndb/css/itemList.m.css" media="screen and (max-device-width: 800px)" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="../assets/components/dndb/css/form.css">

	<div class="controlls z1">
		<div class="button" onclick="saveCharacter(true)">
			<p>save</p>
		</div>
		<div class="button" onclick="del()">
			<p>delete</p>
		</div>
		<div class="button" onclick="openPage('characterList')">
			<p>back</p>
		</div>
	</div>

	<div class="characterContainer">
		<div class="characterSheet">

		</div>
		<script>
			$(".characterSheet").load("../assets/components/dndb/pages/characterSheet.html");
		</script>
	</div>

	<div class="lists">
		<div class="nav z1">
			<div class="buttons">
				<div class="button">
					<p>Inventory</p>
				</div>
				<div class="button">
					<p>Abilities</p>
				</div>
				<div class="button">
					<p>Spells</p>
				</div>
			</div>
			<div class="line">
				<div class="parser"></div>
			</div>
		</div>
		<div class="section" id="inventory">
			<div class="inputCard">
				<h1>Inventory</h1>
				<input placeholder="Item name" />
				<textarea placeholder="Description"></textarea>
				<div class="row">
					<input placeholder="Tag" />
					<button><i class="material-icons">add</i></button>
				</div>
				<div class="tags">
					<div class="tag">
						<p>TAG</p>
					</div>
					<div class="tag">
						<p>TAG</p>
					</div>
					<div class="tag">
						<p>TAG</p>
					</div>
					<div class="tag">
						<p>TAG</p>
					</div>
				</div>
			</div>
			<div class="item" v-for="item in items" @click="toggleShown(item)">
				<h1>{{ item.name }}</h1>
				<div v-if="item.shown == true">
					<p>{{ item.description }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="push"></div>
</div>
