<div class="innerPage">
	<script>
	$("#T1").attr("src", "../assets/components/dndb/js/" + sessionStorage.getItem("::openPage") + ".js");
	$("#T2").attr("href", "../assets/components/dndb/css/" + sessionStorage.getItem("::openPage") + ".css");
	$("#T3").attr("href", "../assets/components/dndb/css/" + sessionStorage.getItem("::openPage") + ".m.css");
	</script>
	<script id="T1" type="text/javascript"></script>
	<link id="T2" rel="stylesheet" type="text/css">
	<link id="T3" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
	<div class="cards">
		<div class="cardWrapper">
			<div class="card shadow-2">
				<div class="color"></div>
				<h1 class="centerHorizontal">Say hello</h1>
				<p class="centerHorizontal">To the new D&D Tools! Everything got a fresh overhaul. And I added some features you might like.</p>
			</div>
		</div>
	</div>
	<script>loader.hide();</script>
</div>
