<div class="innerPage scroll">
	<script>
		$("#T1").attr("src", "../assets/components/dnd/js/" + sessionStorage.getItem("::openPage") + ".js");
		$("#T2").attr("href", "../assets/components/dnd/css/" + sessionStorage.getItem("::openPage") + ".css");
		$("#T3").attr("href", "../assets/components/dnd/css/" + sessionStorage.getItem("::openPage") + ".m.css");
	</script>
	<script id="T1" type="text/javascript"></script>
	<link id="T2" rel="stylesheet" type="text/css">
	<link id="T3" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
	<div style="margin-top: 5%;"></div>
	<div class="head">
		<div class="back" onclick="backFolder()">
			<i class="material-icons center">arrow_back</i>
		</div>
		<div class="option" onclick="deleteFolder()">
			<i class="material-icons center">delete</i>
		</div>
		<div class="label">
			<h1 id="pathText" class="folderTitle center">Root</h1>
		</div>
	</div>
	<div class="folders">
		<div class="itemWrapper">
			<div class="item center s1 rounded" onclick="addFolder()">
				<div class="icon">
					<div class="circle center folder">
						<i class="center material-icons">add</i>
					</div>
				</div>
				<div class="label">
					<h1>Add folder</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="files">
		<div class="itemWrapper file">
			<div class="item center s1 rounded" onclick="addFile()">
				<div class="icon">
					<div class="circle center file">
						<i class="center material-icons">add</i>
					</div>
				</div>
				<div class="label">
					<h1>Add file</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="editFile s5 rounded">
		<div class="info">
			<input id="pTitle" class="center" value="fileName" />
		</div>
		<div class="contentArea">
			<textarea id="content" class="s1"></textarea>
		</div>
		<div class="buttons">
			<button onclick="deleteFile()">Delete</button>
		</div>
	</div>
	<div class="fileBackground" onclick="closeEditor()"></div>
	<script>
		loader.hide();
	</script>
	<div class="push"></div>
</div>
