<div class="innerPage scroll">
	<script>
		$("#T1").attr("src", "../assets/components/dnd/js/" + sessionStorage.getItem("::openPage") + ".js");
		$("#T2").attr("href", "../assets/components/dnd/css/" + sessionStorage.getItem("::openPage") + ".css");
		$("#T3").attr("href", "../assets/components/dnd/css/" + sessionStorage.getItem("::openPage") + ".m.css");
	</script>
	<script id="T1" type="text/javascript"></script>
	<link id="T2" rel="stylesheet" type="text/css">
	<link id="T3" media="screen and (max-device-width: 800px)" rel="stylesheet" type="text/css">
	<div class="layout">
		<div class="systemControlls">
			<h1 class="selectedUser"></h1>
			<button class="wave prime s1" onclick="backupAll()" icon-left="backup">Backup</button>
			<!-- <button style="width: 20%;" class="prime s1" onclick="backupUser(lUid);"><i class="material-icons">backup</i>Backup user</button> -->
			<button class="wave prime s1" onclick="backup()" icon-left="history">Recover character</button>
			<button class="wave prime s1" onclick="startEmulatetSession()" icon-left="build">Remote session</button>
			<button class="wave prime s1" onclick="stopEmulatetSession()" icon-left="close">Stop session</button>
			<button class="wave prime s1" onclick="deleteAccount()" icon-left="delete">Delete account</button>
		</div>
		<div class="users">

		</div>
	</div>
	<script>loader.hide();</script>
</div>
