@font-face {
	font-family: museo;
	src: url(../assets/css/fonts/Museo500.otf);
}

.innerPage {
	font-family: "museo";
}

.side-bar {
	height: 100%;
	background-color: #e7d6d6;
	width: 40%;
	margin: 0;
	padding: 0;
}

.side-bar .head {
	width: 100%;
	height: 20%;
	background-color: #4c90ff;
	text-align: center;
}

.side-bar .head h1 {
	margin: 0;
	color: white;
	font-size: 50px;
	line-height: 350%;
}

.side-bar .id {
	width: 100%;
	text-align: center;
	color: black;
}

input {
	margin-left: 20%;
}

.paymentDiv {
	width: 100%;
}

.paymentDiv button {
	width: 60%;
	margin-left: 20%;
}