.colom1, .colom2, .colom3 {
	height: 100%;
	float: left;
}

.colom1 {
	width: 34%;
}

.colom2, .colom3 {
	width: 33%;
}

.colom1, .colom2, .colom3 h1 {
	margin-left: 3%;
	margin-top: 2%;
	text-align: left;
}

.colom1, .colom2, .colom3 p {
	margin-left: 3%;
	margin-top: 0.5%;
	text-align: left;
}

.innerPage button {
	font-size: 1rem;
}