@font-face {
	font-family: museo;
	src: url(../fonts/Museo500.otf);
}

@font-face {
	font-family: Roboto-Thin;
	src: url(../fonts/roboto/Roboto-Thin.ttf);
}

html, body{
	margin: 0;
	padding: 0;
}

input {
	margin-left: 20px;
	width: 60%;
	font-size: 20px;
	border: none;
	border-bottom: solid 2px rgb(0,160,160);
}

/*
input:focus {
	border-bottom: solid 3px rgb(0,200,200);
}
*/

.info-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #4c90ff;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-bar a {
	display: block;
	color: #f2f2f2;
	text-align: left;
	line-height: 60px;
	padding-left: 10px;
	/*padding: 14px 16px;*/
	text-decoration: none;
	font-size: 25px;
	font-family: "museo"
}

.info-bar #uid {
	display: none;
}

.info-bar img {
	padding: 5px 10px;
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

/*page*/
.page {
	position: fixed;
	top: 60px;
	height: 100vh;
	width: 100%;
	background-color: white;
}

.page .info {
	margin-top: 30px;
	float: left;
	border-radius: 5px;
	margin-left: 40px;
	width: 40%;
	height: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page .head {
	margin-top: -21px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	height: 50px;
	background-color: #4c90ff;
	font-family: "museo";
	color: white;
}

.head h1 {
	line-height: 50px;
}

/*info*/
.info .balance {
	text-align: center;
	font-family: "museo";
	width: 97%;
	padding: 10px;
	background-color: lightgrey;
}

.info .balance #title {
	font-size: 20px;
}

.info .latestTransaction {
	font-family: "museo";
	padding-left: 20px;
	margin-top: -20px;
	background-color: lightgray;
}

.info .latestTransaction #latestTransactionAmount {
	font-size: 50px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.info .latestTransaction #latestTransactionUser {
	font-size: 20px;
}

.page .info #value {
	text-align: center;
	font-family: "museo";
}

.page .transaction {
	margin-top: 30px;
	margin-left: 10px;
	float: left;
	overflow: hidden;
	border-radius: 5px;
	margin-left: 40px;
	width: 40%;
	height: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: "museo";
}

.transaction .id {
	text-align: center;
	font-family: "museo";
	width: 100%;
	padding: 10px;
	background-color: lightgrey;
}

.transaction .id #title {
	font-size: 20px;
}

.transaction .transact #title {
	padding-left: 20px;
}

.transaction .transact button {
	margin-left: 20px;
	border: none;
	font-family: "museo";
	width: 60%;
	height: 50px;
}

.transaction .transact #errorId, #errorAmount, #errorAmount2, #errorTrans {
	padding-left: 20px;
	visibility: hidden;
}