.innerPage {
	height: calc(100% - 52px);
}

.bottomNav {
	height: 52px;
	width: 100%;
	position: fixed;
	background-color: white;
	top: calc(100% - 52px);
	z-index: 3;
}

.wave--popover {
	z-index: 10;
}

.slider {
	display: inline-block;
	width: 100vw;
}

.slider .sliding {
	width: 400vw;
	height: 100%;
	margin-left: -0vw;
	transition: 350ms all cubic-bezier(0.4, 0.0, 0.6, 1);
}

.slider .sliding .slide {
	width: 100vw;
	float: left;
	padding-top: 10vh;
	padding-bottom: 10vh;
}.

.innerPage {
	overflow-x: hidden;
}

.buttons {
	height: 10vh;
	width: 935px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 5vh;
}

.buttons .contr {
	height: 100%;
	width: 5vw;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 1vh;
	float: left;
	cursor: pointer;
	opacity: 1;
	transition: 150ms all cubic-bezier(0.4, 0.0, 0.6, 1);
}

.buttons .contr.faded {
	opacity: 0;
	transition: 200ms all cubic-bezier(0.4, 0.0, 0.6, 1);
}

.buttons .contr:hover {
	background-color: rgb(235,235,235);
}

.buttons .contr.left {
	margin-right: 3vw;
}

.buttons .contr.right {
	margin-left: 3vw;
}

.buttons .controll {
	float: left;
	height: 100%;
	width: 935px;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 1vh;
}

.buttons .controll .button {
	float: left;
	height: 100%;
	width: 33.333333333333333333333333333%;
	cursor: pointer;
	transition: 150ms all cubic-bezier(0.4, 0.0, 0.6, 1)
}

.buttons .controll .button.left {
	border-top-left-radius: 1vh;
	border-bottom-left-radius: 1vh;
}

.buttons .controll .button.right {
	border-top-right-radius: 1vh;
	border-bottom-right-radius: 1vh;
}

.buttons .controll .button h1 {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 2em;
}

.buttons .controll .button:hover {
	background-color: rgb(235,235,235);
}

.pageArea {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 1vh;
}

.spells {
	width: 100%;
}

.addItem {
	width: 60%;
	display: inline-block;
	background-color: white;
	border-radius: 1vh;
}

.addItem div {
	display: inline-block;
}

.addItem .title {
	width: 100%;
}

.addItem .title h1 {
	width: 98%;
	margin-left: 2%;
}

.addItem .spellName {
	width: 100%;
	height: 9vh;
}

.addItem .spellName input {
	width: 95%;
	font-size: 1.5em;
}

.addItem .components {
	height: 9vh;
	width: 100%;
}

.addItem .description {
	height: 40vh;
	width: 100%;
}

.addItem .description textarea {
	width: 95%;
	height: 90%;
	resize: none;
	font-size: 1.3em;
}

.addItem .confirm {
	height: 9vh;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.addItem .confirm:hover {
	background-color: rgb(235, 235, 235);
}

.addItem .props {
	width: 100%;
}


.addItem .other {
	height: 9vh;
	width: 100%;
}

.select.input {
	cursor: default;
}

.select.input h1 {
	float: left;
}

.select.input input {
	height: 90%;
	position: relative;
	top: 5%;
	left: 2%;
}

.select.selected {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.addItem .select {
	padding: 1vh;
	background-color: rgb(235, 235, 235);
	/* float: left; */
	margin-left: 1%;
	cursor: pointer;
	margin-top: .5%;
	border-radius: 1vh;
}

.addItem .select h1 {
	font-size: 1.1em;
}

.itemList {
	width: 100%;
}

.itemList .item {
	margin-top: 1%;
	width: 60%;
	max-height: 10vh;
	transition: 375ms all cubic-bezier(0.4, 0.0, 0.2, 1);
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 1vh;
}

.itemList .item .shared {
	height: 10vh;
	width: 100%;
	cursor: pointer;
}

.itemList .item.open .shared {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.itemList .item .shared .icon {
	height: 10vh;
	width: 10vh;
	float: left;
}

.itemList .item .shared .icon .circle {
	width: 70%;
	height: 70%;
	background-color: #00BCD4;
	border-radius: 50%;
	position: relative;
	top: 15%;
	left: 15%;
}

.itemList .item .shared .text {
	height: 10vh;
	width: calc(100% - 10vh);
	float: left;
}

.itemList .item .shared .text .wrapper {
	height: 70%;
	position: relative;
	top: 15%;
}

.itemList .item .shared .text .wrapper h1 {
	width: 100%;
}

.itemList .item .shared .text .wrapper p {
	width: 100%;
}

.itemList .item .controlls {
	width: 100%;
	height: 6vh;
	margin-top: .5%;
}

.itemList .item .controlls .controll {
	width: 100%;
	height: 100%;
}

.itemList .item .controlls .controll button {
	float: left;
}

.itemList .item .controlls .controll h1 {
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	font-weight: 100;
}

.itemList .item .content {
	opacity: 0;
	display: inline-block;
	padding: 1%;
	width: 98%;
	transition: 150ms all cubic-bezier(0.4, 0.0, 0.2, 1);
}

.itemList .item .actions button {
	padding: 0.5%;
    float: right;
    margin-right: 1%;
}


/* Spell open */

.itemList .item.open {
	display: inline-block;
	width: 70%;
	transition: 295ms all cubic-bezier(0.4, 0.0, 0.2, 1);
}

.itemList .item.h {
	max-height: 1000vh;
	transition: 295ms all cubic-bezier(0.4, 0.0, 0.2, 1);
}

.itemList .item.open .content.open {
	opacity: 1;
	transition: 150ms all cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Content */

.item .tags {
	width: 100%;
	display: inline-block;
}

.item .tags .tag {
	padding: 1%;
	background-color: rgb(235, 235, 235);
	border-radius: 1vh;
	display: inline-block;
	margin-top: .4%;
	margin-left: .5%;
}

.item .content .text {
	width: 98%;
	padding: 1%;
	display: inline-block;
}

.item .content .text p {
	white-space: normal;
}

/*
.spellList .spell {
	width: 60%;
	margin-top: 3%;
}

.spellList .spell .title {
	width: 100%;
}

.spellList .spell .title h1 {
	width: 98%;
	margin-left: 2%;
}

.spellList .spell .properties {
	margin-top: 1%;
	width: 100%;
	float: none;
	display: inline-block;
}

.spellList .spell .property {
	padding: 1%;
	font-size: 1.1em;
	background-color: rgb(235, 235, 235);
	display: inline-block;
	margin-left: 1%;
	border-radius: 1vh;
	float: left;
	margin-top: .5%;
}

.spellList .spell .property p {
	white-space: nowrap;
}

.spellList .spell .description {
	width: 100%;
	display: inline-block;
	margin-top: 1%;
}

.spellList .spell .description p {
	font-size: 1.1em;
	width: 90%;
	position: relative;
	left: 1%;
	white-space: normal;
}
*/

.characterInfo {
	margin-top: 2%;
	width: 50%;
	position: relative;
	left: 25%;
}

.characterInfo p {
	width: 100%;
	text-align: center;
}

.characterOptions {
	width: 935px;
	position: relative;
	background-color: white;
	border-radius: 1vh;
}

.characterOptions .r {
	height: 5vh;
	width: 100%;
}

.characterOptions .r .text {
	height: 100%;
	width: 70%;
	float: left;
}

.characterOptions .r .text p {
	width: 98%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.characterOptions .r .controll {
	float: left;
	width: 30%;
	height: 100%;
}

.characterOptions .r .controll button {
	float: 0;
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.characterOptions .r select {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.characterBuilding p {
	white-space: normal;
}

.characterSheet {
	overflow-x: auto;
}

.items {
	width: 100%;
}
