.controll {
	width: 100%;
}

.controll .button h1 {
	font-size: 3rem;
}

.spells .addSpell {
	width: 90%;
}

.addSpell .title h1 {
	font-size: 4em;
}

.addSpell .spellName input {
	width: 98%;
	font-size: 3em;
}

.addSpell .select h1 {
	font-size: 3.4em;
}

.select.input input {
	font-size: 3.4em;
}

.addSpell textarea {
	font-size: 2.5em;
}

.addSpell .confirm h1 {
	font-size: 3.5em;
}

.spellList .spell {
	width: 90%;
}

.spell .shared h1 {
	font-size: 4em;
}

.spell p {
	font-size: 2.4em;
}

.spellList .spell.open {
	width: 100%;
	border-radius: 0vh;
}

.characterInfo {
	width: 75%;
    left: 12.5%;
}

.characterId {
	font-size: 2.5em;
}

.characterOptions {
	width: 100%;
	margin-bottom: 5vh;
	left: 0;
}

.characterOptions .r {
	width: 90%;
    position: relative;
    left: 5%;
}

.characterOptions button {
	font-size: 2.5em;
}

.characterOptions select {
	font-size: 2.5em;
}

.characterOptions p {
	font-size: 2.5em;
}