.cards {
	height: 100%;
	width: 100%;
}

.cardWrapper {
	height: 50%;
	display: block;
}

.cardWrapper .card {
	height: 90%;
}

.wave.card .title p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
