.controll {
	width: 100%;
}

.buttons {
	width: calc(935px - 16vw);
}
.controll .button h1 {
	font-size: 3rem;
}

.itemList .addItem {
	width: 90%;
}

.addItem .title h1 {
	font-size: 4em;
}

.addItem .spellName input {
	width: 98%;
	font-size: 3em;
}

.addItem .select h1 {
	font-size: 3.4em;
}

.select.input input {
	font-size: 3.4em;
}

.addItem textarea {
	font-size: 2.5em;
}

.addItem .confirm h1 {
	font-size: 3.5em;
}

.itemList .item {
	width: 90%;
}

.item .shared h1 {
	font-size: 4em;
}

.item p {
	font-size: 2.4em;
}

.itemList .item.open {
	width: 100%;
	border-radius: 0vh;
}

.itemList .item .controlls .controll h1 {
	font-size: 2.4rem;
}

.characterInfo {
	width: 75%;
    left: 12.5%;
}

.characterId {
	font-size: 2.5em;
}

.characterOptions {
	width: 100%;
	margin-bottom: 5vh;
	left: 0;
}

.characterOptions .r {
	width: 90%;
    position: relative;
    left: 5%;
}

.characterOptions button {
	font-size: 2.5em;
}

.characterOptions select {
	font-size: 2.5em;
}

.characterOptions p {
	font-size: 2.5em;
}
