.head {
	height: calc(10% - 1px);
	width: 100%;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 100ms;
	overflow: hidden;
	border-bottom: 1px solid rgb(245, 245, 245);
}

.head .back {
	width: 5%;
    height: 100%;
    margin-left: -10%;
    transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 200ms;
    float: left;
	cursor: pointer;
}

.head .back.less {
	margin-left: 0%;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 350ms;
}

.head .option {
	width: 5%;
    height: 100%;
	margin-left: -5%;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 200ms;
    float: left;
	cursor: pointer;
}

.head .option.less {
	margin-left: 0%;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 350ms;
}

.head .label {
	width: 90%;
	height: 100%;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 200ms;
	float: left;
}

.head .label h1 {
	width: 98%;
}

.head.colaps {
	height: 0%;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 150ms;
}

.folders {
	width: 100%;
	height: calc(20% - 1px);
	overflow-y: auto;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 100ms;
	border-bottom: 1px solid rgb(245, 245, 245);
}

.itemWrapper.file {
	height: 20%;
}

.folders.colaps {
	height: 0%;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 150ms;
}

.itemWrapper {
	width: 20%;
	height: 50%;
	float: left;
}

.itemWrapper .item {
	width: 90%;
	height: 7vh;
	min-height: 55.58px;
	cursor: pointer;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 100ms;
}

.itemWrapper .item:hover {
	transform: translate(-50%, -50%) scale(1.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 150ms;
}

.itemWrapper .item .icon {
	height: 7vh;
	width: 7vh;
	min-width: 55.58px;
	float: left;
}

.itemWrapper .item .icon .circle {
	width: 90%;
	height: 90%;
	border-radius: 50%;
}

.itemWrapper .item .icon .circle.folder {
	background-color: #36096d;
	background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.itemWrapper .item .icon .circle.file {
	background-color: #7ee8fa;
	background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.itemWrapper .item .icon .circle {
	color: white;
}

.itemWrapper .item .label {
	width: calc(90% - 7vh);
    float: left;
    height: 100%;
}

.itemWrapper .item .label h1 {
	font-size: 24px;
    width: 90%;
    position: relative;
    height: 50%;
    left: 3%;
    top: 25%;
}

.files {
	width: 100%;
	height: 65%;
}

.fileBackground {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0vh;
	left: 0vw;
	z-index: 26;
	background-color: rgba(235, 235, 235, 0.5);
	display: none;
	opacity: 0;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 100ms;
}

.fileBackground.show {
	opacity: 1;
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 150ms;
}

.editFile {
	display: none;
	position: fixed;
	width: 60vw;
	height: 60vh;
	top: 20vh;
	left: 20vw;
	z-index: 27;
	background-color: white;
	transform: scale(0);
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 100ms;
}

.editFile.show {
	transform: scale(1);
	transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 150ms;
}

.editFile .info {
	height: 10%;
	width: 100%;
}

.editFile .info input {
	width: 98%;
	font-size: 2em;
	background-color: transparent;
}

.editFile .info input:disabled {
	color: black;
}

.editFile .contentArea {
	width: 100%;
	height: 80%;
}

.editFile .contentArea textarea {
	border-radius: 2px;
	width: 90%;
	height: 90%;
	position: relative;
	top: 5%;
	left: 5%;
	border: 0px;
	outline: none;
	resize: none;
	font-size: 20px;
}

.editFile .buttons {
	width: 100%;
	height: 10%;
}
