.list {
	width: 70%;
	margin-top: 5vh;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
}

.version {
	width: 100%;
	padding-bottom: 2vh;
	border-bottom: 1px rgb(235,235,235) solid;
}

.version .title {
	width: 100%;
	height: 10vh;
}

.version .title h1 {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 4em;
	text-align: center;
}

.version .changes {
	width: 100%;
}

.version .changes ul {
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
	width: 70%;
	list-style: none;
	font-size: 1.5em;
}

li, h1 {
	font-family: "museo";
}