@font-face {
    font-family: Noto Sans;
    src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: minecraft;
    src: url(fonts/Minecrafter.Reg.ttf);
}

html {
	width: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
}

.header {
	width: 100%;
	height: 820px;
	margin-top: -102px;
	margin-left: -10px;
	background: url(../images/auticraft/header.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.header h1 {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: "minecraft";
	color: white;
	font-size: 150px;
	line-height: 820px;
}

.latest-update {
	margin-top: -30px;
	margin-left: -10px;
	background: url(../images/auticraft/soft_background.png) no-repeat center;
	background-size: cover;
	align-items: center;
	text-align: center;
	color: white;
	height: 500px;
	width: 100%;
}

.latest-update h1 {
	margin-top: 30px;
	color: black;
	font-size: 40px;
	font-family: 'Noto Sans', sans-serif;
}

.latest-update .img {
	margin-top: -30px;
	margin-left: -10px;
	background: url(../images/auticraft/soft_background.png) no-repeat center;
	background-size: cover;
	align-items: center;
	text-align: center;
	color: white;
	height: 500px;
	width: 75%;
}

.rules {
	margin-top: -21px;
	margin-left: -10px;
	background: url(../images/auticraft/minecraft.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	align-items: center;
	text-align: center;
	color: white;
	height: 500px;
	width: 100%;
}

.minecraft_button {
	background-color: rgb(0, 187, 0);
	border-top: 5px solid rgb(0, 220, 0);
	border-left: 5px solid rgb(0, 100, 0);
	border-bottom: 5px solid rgb(0, 130, 0);
	border-right: 5px solid rgb(0, 190, 0);
}

.minecraft_button a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 140px;
	cursor: pointer;
}

.button {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 35%;
	background-color: rgb(0, 185, 0);
	border-top: 5px solid rgb(0, 220, 0);
	border-left: 5px solid rgb(0, 100, 0);
	border-bottom: 5px solid rgb(0, 130, 0);
	border-right: 5px solid rgb(0, 190, 0);
	cursor: pointer;
	width: 300px;
	height: 140px;
}

.button a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 140px;
	cursor: pointer;
}

.button:hover, .end-button:hover{
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}

.end-button {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 35%;
	background-color: rgb(100, 0, 70);
	border-top: 5px solid rgb(135, 0, 105);
	border-left: 5px solid rgb(30, 0, 30);
	border-bottom: 5px solid rgb(60, 0, 60);
	border-right: 5px solid rgb(120, 0, 120);
	cursor: pointer;
	width: 300px;
	height: 140px;
}

.end-button a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 140px;
	cursor: pointer;
}

.rules_button:hover {
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}

.shops {
	margin-top: -21px;
	margin-left: -10px;
	background: url(../images/auticraft/shops.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	align-items: center;
	text-align: center;
	color: white;
	height: 500px;
	width: 100%;
}

.shops_button {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 35%;
	background-color: rgb(0, 185, 0);
	border-top: 5px solid rgb(0, 220, 0);
	border-left: 5px solid rgb(0, 100, 0);
	border-bottom: 5px solid rgb(0, 130, 0);
	border-right: 5px solid rgb(0, 190, 0);
	cursor: pointer;
	width: 300px;
	height: 140px;
}

.shops_button a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 140px;
	cursor: pointer;
}

.shops_button:hover {
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}

.map {
	margin-top: -21px;
	margin-left: -10px;
	background: url(../images/auticraft/mapheader.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	align-items: center;
	text-align: center;
	color: white;
	height: 500px;
	width: 100%;
}

.map_button {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 35%;
	background-color: rgb(0, 185, 0);
	border-top: 5px solid rgb(0, 220, 0);
	border-left: 5px solid rgb(0, 100, 0);
	border-bottom: 5px solid rgb(0, 130, 0);
	border-right: 5px solid rgb(0, 190, 0);
	cursor: pointer;
	width: 300px;
	height: 140px;
}

.map_button a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 140px;
	cursor: pointer;
}

.map_button:hover {
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}

.skulls {
	margin-top: -21px;
	margin-left: -10px;
	background: url(../images/auticraft/meincraft.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	align-items: center;
	text-align: center;
	color: white;
	height: 500px;
	width: 100%;
}

.skulls_button {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 35%;
	background-color: rgb(0, 185, 0);
	border-top: 5px solid rgb(0, 220, 0);
	border-left: 5px solid rgb(0, 100, 0);
	border-bottom: 5px solid rgb(0, 130, 0);
	border-right: 5px solid rgb(0, 190, 0);
	cursor: pointer;
	width: 300px;
	height: 140px;
}

.skulls_button a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 140px;
	cursor: pointer;
}

.skulls_button:hover {
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}


.updates {
	margin-left: -10px;
	margin-top: -30px;
	background: url(../images/auticraft/soft_background.png) no-repeat center;
	background-size: cover;
	align-content: center;
	align-items: center;
	text-align: center;
	height: 500px;
}

.updates h1 {
	background: 
	margin-top: 30px;
	color: black;
	font-size: 40px;
	font-family: 'Noto Sans', sans-serif;
}

.all {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 1%;
	background-color: rgb(0, 185, 0);
	border-top: 5px solid rgb(0, 220, 0);
	border-left: 5px solid rgb(0, 100, 0);
	border-bottom: 5px solid rgb(0, 130, 0);
	border-right: 5px solid rgb(0, 190, 0);
	cursor: pointer;
	width: 300px;
	height: 50px;
	color: white;
}

.all a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
}

.all:hover{
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}

.update {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 10%;
	background-color: rgb(0, 130, 0); 
	border-top: 5px solid rgb(0, 150, 0); 
	border-left: 5px solid rgb(0, 110, 0); 
	border-bottom: 5px solid rgb(0, 120, 0); 
	border-right: 5px solid rgb(0, 140, 0);
	cursor: pointer;
	width: 300px;
	height: 50px;
	color: white;
}

.update a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
}

.update:hover {
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}

.wedstrijd {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 1.5%;
	background-color: rgb(170, 0, 0); 
	border-top: 5px solid rgb(190, 0, 0); 
	border-left: 5px solid rgb(130, 0, 0); 
	border-bottom: 5px solid rgb(140, 0, 0); 
	border-right: 5px solid rgb(160, 0, 0);
	cursor: pointer;
	width: 300px;
	height: 50px;
	color: white;
}

.wedstrijd a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
}

.wedstrijd:hover {
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}

.mededeling {
	transition: 0.2s ease-in all;
	position: relative;
	left: 40%;
	top: 2%;
	background-color: rgb(80, 80, 220); 
	border-top: 5px solid rgb(100, 100, 240); 
	border-left: 5px solid rgb(60, 60, 200); 
	border-bottom: 5px solid rgb(70, 70, 210); 
	border-right: 5px solid rgb(90, 90, 230);
	cursor: pointer;
	width: 300px;
	height: 50px;
	color: white;
}

.mededeling a {
	text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
}

.mededeling:hover {
	transition: 0.2s ease-in all;
	transform: scale(1.2);
	background-color: rgb(40, 40, 40);
	border-top: 5px solid rgb(55, 55, 55);
	border-left: 5px solid rgb(10, 10, 10);
	border-bottom: 5px solid rgb(20, 20, 20);
	border-right: 5px solid rgb(30, 30, 30);
}
