html {
	width: 100vw;
	overflow-x: hidden;
}

@font-face {
	font-family: Roboto-Thin;
	src: url(fonts/roboto/Roboto-Thin.ttf);
}

.header {
	width: 110%;
	height: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: -10px;
	margin-top: -100px;
	text-align: center;
}

.header h1 {
	line-height: 500px;
	font-size: 150px;
	font-family: 'Roboto-Thin';
}

.changes {
	margin-left: -10px;
	font-size: 30px;
	font-family: 'Roboto-Thin';
	text-align: center;
	align-items: center;
}

ul {
	font-size: 100px;
	list-style-type: none;
	text-align:left;
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

button {
	display: none;
}