@font-face {
	font-family: Roboto-Thin;
	src: url(../../assets/css/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: museo;
	src: url(../../assets/css/fonts/Museo500.otf);
}

html {
	width: 100vw;
	overflow-x: hidden;
	font-size: 
}

.header {
	background-image: -webkit-linear-gradient(92deg,rgb(200,200,200),rgb(255,255,255));
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100vh;
	margin-top: -235px;
	margin-left: -10px;
	text-align: left;
}

.header h1 {
	background-image: -webkit-linear-gradient(92deg,rgb(0,240,240),rgb(0,80,80));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
	line-height: 800px;
	font-size: 350px;
	font-family: "Roboto-Thin";
	padding-left: 50px;
}

.under-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -10px;
	margin-top: -16px;
	height: 400px;
	background-image: url(https://static.pexels.com/photos/176851/pexels-photo-176851.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.under-header .text {
	background-color: rgba(255,255,255,0.1);
	height: 70%;
	width: 70%;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.under-header .text h1 {
	font-family: "museo";
	padding-left: 30px;
	padding-right: 30px;
	font-size: 50px;
	background-image: -webkit-linear-gradient(92deg,rgb(0,240,240),rgb(0,80,80));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.under-header .text p {
	font-family: "museo";
	padding-left: 30px;
	padding-right: 30px;
	font-size: 40px;
	background-image: -webkit-linear-gradient(92deg,rgb(230,230,230),rgb(150,150,150));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.projects {
	margin-left: -10px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url(https://static.pexels.com/photos/534164/pexels-photo-534164.jpeg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.projects .cards {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.1);
	width: 70%;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project .cards .projecttop {
	background-color: white;
	border-radius: 3px;
	width: 100%;
	height: 100px;
}

.projects .cards .project {
	cursor: pointer;
	padding-left: 30px;
	text-align: left;
	background-color: white;
	border-radius: 3px;
	width: 100%;
	height: 100px;
	transition: 0.2s ease-in all;
}

.project .cards .project:hover {
	transition: 0.3s ease-in all;
	transform: scale(1.1);
}

.projects .cards .project h1 {
	font-family: "Roboto-Thin";
	line-height: 100px;
	font-size: 50px;
	background-image: -webkit-linear-gradient(92deg,rgb(0,240,240),rgb(0,80,80));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}