
.header {
	font-size: 20px;
	color: black;
	text-align: center;
	align-items: center;
	background-image: url("assets/images/indexPage/header.png");
	background-color: rgba(103, 13, 145, 0.7);
}

p {
	font-size: 15px;
}

body {
	text-align: center;
	align-items: center;
}

.mainPage {
	font-size: 15;
	text-align: center;
	align-items: center;
	color: black;
	background-color: rgba(0, 0, 0, 0.7);
}

.pay {
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	text-align: center;
	align-items: center;
}
