@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	overflow-y: none;
}

.header {
	width: 100vw;
	height: 100vh;
	margin-bottom: 5vh;
}

.layer1, .layer2, .layer3 {
	height: 100%;
}

.layer1 {
	width: 100%;
	background-color: rgb(215,215,215);
}

.layer2 {
	position: relative;
	left: 5%;
	width: 90%;
	background-color: rgb(235,235,235);
}

.layer3 {
	position: relative;
	left: 10%;
	width: 80%;
	background-color: rgb(255,255,255);
}

.layer3 h1 {
	font-size: 6rem;
	text-align: center;
	line-height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.card {
	overflow: hidden;
	width: 80vw;
	height: 80vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: .5em;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.card .content {
	float: left;
	width: 30%;
	height: 100%;
}

.card .content .text {
	width: 100%;
	height: 85%;
}

.card .content .text h1 {
	width: 90%;
	position: relative;
	top: 1%;
	left: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	margin: 0;
}

.card .content .text p {
	width: 80%;
	position: relative;
	top: 1%;
	left: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	margin: 0;
}

.card .content .button {
	height: 15%;
	background-color: #4c90ff;
	cursor: pointer;
	transition: ease-in .2s all;
}

.card .content .button:hover {
	transition: ease-in .2s all;
	background-color: #8cb6f9;
}

.card .content .button h1 {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	position: relative;
	top: 40%;
	transform: translateY(-50%); 
}

.card .img {
	float: left;
	width: 70%;
	height: 100%;
}

.parallax-mirror {
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}

.card .img .parallax-window {
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}

/* https://images.pexels.com/photos/47344/dollar-currency-money-us-dollar-47344.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb */