@font-face {
	font-family: museo;
	src: url(fonts/Museo500.otf);
}

html {
	background-color: rgb(230, 230, 230);
	width: 100vw;
	overflow-x: hidden;
}

.header {
	margin-top: -60px;
	margin-left: -8px;
	background-image: url(../images/mbr-1-2000x1333.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	text-align: center;
	width: 100%;
	height: 800px;
}

.header h1 {
	color: rgb(255, 255, 255);
	font-family: "museo";
	font-size: 90px;
	line-height: 800px;
}

.main {
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -90px;
	height: 1000px;
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards {
	width: 100%;
}