
body {
	font-family: Arial;
	color: black;
	height: 600px;
}

.intro {
	text-align: center;
	align-items: center;
}

h1 {
	color: forestgreen;
}

.center {
	text-align: center;
	align-items: center;
	font-family: sans-serif;
}

.login {
	text-align: center;
	align-items: center;
	font-family: sans-serif;
	margin: auto;
	background-color: rgba(105, 156, 239, 0.6);
	width: 500px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}