@font-face {
    font-family: xband;
    src: url(fonts/xband.ttf);
}

@font-face {
	font-family: glitch;
	src: url(fonts/glitch.ttf);
}

@font-face {
	font-family: glitch2;
	src: url(fonts/PhelixBoomgartner.ttf);
}

html {
	overflow-x: hidden;
}

.header {
	width: 100%;
	height: 100vh;
	margin-top: -102px;
	margin-left: -10px;
	background: url(https://s3.envato.com/files/195730195/03_image.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.header h1 {
	color: #FF4500;
	line-height: 100vh;
	font-size: 150px;
	font-family: "glitch";
}

.story {
	text-align: center;
	width: 100%;
	display: none;
}

.story h1 {
	font-size: 50px;
	font-family: "xband";
}

.story h2 {
	font-size: 40px;
	font-family: "xband";
}

.story .info {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 6px;
	background-color: rgb(255,255,255);
	border-style: solid;
	border-width: 5px;
	border-radius: 20px;
	border-color: rgb(200,200,200);
}

.story .box {
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.story .box iframe {
	border: none;
	height: 100%;
	width: 100%;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 10px;
	transition: .5s cubic-bezier(0.72, 0.35, 0.29, 0.97) all;
	font-size: 30px;
	font-family: "xband";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
	transform: scale(1.2);
}

button:hover {
	transition: .5s cubic-bezier(0.77, 0.04, 0.29, 0.75) all;
	font-size: 30px;
	font-family: "xband";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
	transform: scale(1.3);
}
button:active {
	transition: .2s ease-in all;
	font-size: 30px;
	font-family: "xband";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
	transform: scale(1.15);
}

.timer {
	width: 70px;
	height: 70px;
	background-color: greenyellow;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#players div {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 30px;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#players div h1 {
	font-size: 60px;
}