@font-face {
    font-family: xband;
    src: url(fonts/xband.ttf);
}

button {
	padding: 6px 60px;
	border: 2px solid #4CAF50;
	background-color: white;
	font-family: "xband";
	border-radius: 4px;
	font-size: 30px;
}

button:hover {
	background-color: darkslategray;
	color: white;
	border: 2px solid #4C3F50;
}

button:active {
	background-color: black;
	color: white;
	border: 2px solid #4C3F50;
}

.header {
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -150px;
	height: 300px;
	text-align: center;
	background-image: url(images/mol/header-background.png);
	margin-bottom: -40px;
}

.under-header {
	margin-top: 60px;
	background-color: white;
	text-align: center;
}

.players, .main {
	align-items: center;
}

.player1, .player2, .player3, .player4, .player5, .player6, .player7, .player8 {
	text-align: center;
	align-items: center;
	font-family: "xband";
	font-size: 40px;
}

.player1:hover, .player2:hover, .player3:hover, .player4:hover, .player5:hover, .player6:hover, .player7:hover, .player8:hover {
	text-align: center;
	align-items: center;
	font-family: "xband";
	color: white;
	background-color: rgba(255, 0, 0, 0.8);
	font-size: 40px;
}

.marges {
	font-size: 30px;
	font-family: "xband";
	text-align: center;
	align-items: center;
}

#player1img, #player2img, #player3img, #player4img, #player5img, #player6img, #player7img, #player8img {
	margin-top: -70px;
}

#header-title {
	line-height: 300px;
	font-size: 200px;
	font-family: "xband";
	color: white;
}

#pot-title {
	margin-top: 20px;
	font-family: "xband";
	font-size: 80px;
}

#pot {
	margin-top: -30px;
	font-family: "xband";
	font-size: 120px;
}

#pot-total {
	font-size: 40px;
	margin-top: -60px;
	font-family: "xband";
}

#archive {
	padding: 6px 60px;
	border: 2px solid #4CAF50;
	background-color: white;
	font-family: "xband";
	border-radius: 4px;
	font-size: 30px;
}

#archive:hover {
	background-color: darkslategray;
	color: white;
	border: 2px solid #4C3F50;
}

#archive:active {
	background-color: black;
	color: white;
	border: 2px solid #4C3F50;
}

#subtitle {
	font-size: 20px;
}

#timer {
	font-family: "xband";
	font-size: 80px;
}

#marges {
	font-family: "xband";
	font-size: 70px;
}