html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.background {
	width: 100vw;
	height: 100vh;
	background-image: url(https://static.pexels.com/photos/7480/sky-night-stars.jpg);
	background-size: cover;
}

.login-box {
	position: relative;
	background-color: white;
	width: 90%;
	height: 90%;
	border-radius: 5px;
	top: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.firebaseui-auth-container {
	height: 100%;
	width: 100%;
}