@font-face {
    font-family: xband;
    src: url(fonts/xband.ttf);
}

body {
	text-align: center;
	background-color: rgba(0, 0, 0, 1);
	height: 400px;
}

#header-title {
	line-height: 400px;
	font-family: "xband";
	color: white;
	font-size: 300px;
}