html {
	overflow-x: hidden;
}

.main {
	margin-left: -10px;
	width: 100vw;
	height: 100vh;
	background-image: url(https://static.pexels.com/photos/363517/pexels-photo-363517.jpeg);
	background-size: cover;
}

.box {
	text-align: center;
}

.box input {
	width: 30px;
	float: left;
}

.box p {
	width: 20px;
	float: left;
}