@font-face {
	font-family: Noto Sans;
    src: url(fonts/NotoSans-Regular.ttf);
}

html {
	width: 100vw
	overflow-y: hidden;
}

.header {
	background-image: url(../images/school/daaf-gelukschool-1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Noto Sans", sans-serif;
	text-align: center;
	height: 500px;
	width: 100%;
}

.header .logo {
	width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: red;
}

.header h1 {
	color: white;
	line-height: 500px;
	font-size: 80px;
}