html {
	width: 100vw;
	overflow-x: hidden;
}

body {
	display: block;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
	font-family: Roboto-Thin;
	src: url(fonts/roboto/Roboto-Thin.ttf);
}

.header {
	width: 110%;
	height: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: -10px;
	margin-top: -100px;
}

.header h1 {
    text-align: left;
	line-height: 500px;
	font-size: 150px;
	font-family: "Roboto-Thin";
	padding-left: 60px;
	background-image: -webkit-linear-gradient(92deg,rgb(0,240,240),rgb(0,80,80));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.changelog {
	margin-left: -10px;
	width: 100%;
}

.versions {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.versions h1 {
    text-align: center;
/*	padding-left: 50px;*/
	font-family: "Roboto-Thin";
	background-image: -webkit-linear-gradient(92deg,rgb(0,240,240),rgb(0,80,80));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.versions div {
	transition: .5s cubic-bezier(0.72, 0.35, 0.29, 0.97) all;
}

.versions div:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: .5s cubic-bezier(0.77, 0.04, 0.29, 0.75) all;
}

.versions div {
	width:60%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:5px;
}

.versions .snapshot {
	height:100px;
}

.versions .snapshot h1 {
	line-height:100px;
	font-size:4vw;
	background-image: -webkit-linear-gradient(92deg,rgb(0,240,240),rgb(0,80,80));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.versions .pre-release {
	height:150px;
}

.versions .pre-release h1 {
	line-height:150px;
	font-size:7vw;
	background-image: -webkit-linear-gradient(92deg,rgb(240,100,0),rgb(0,80,80));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.versions .release {
	height:200px;
}

.versions .release h1 {
	line-height:200px;
	font-size:10vw;
	background-image: -webkit-linear-gradient(92deg,rgb(0,240,0),rgb(0,80,0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style-type: none;
	font-family: "Roboto-Thin";
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 100px;
	font-size: 50px;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 10px;
	transition: .5s cubic-bezier(0.72, 0.35, 0.29, 0.97) all;
	font-size: 30px;
	font-family: "Roboto-Thin";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	transition: .5s cubic-bezier(0.77, 0.04, 0.29, 0.75) all;
	font-size: 30px;
	font-family: "Roboto-Thin";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
	transform: scale(1.1);
}
button:active {
	transition: .2s ease-in all;
	font-size: 30px;
	font-family: "Roboto-Thin";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
	transform: scale(1.15);
}