/* button */

button.wave--button {
	transition: 0.2s all ease-in;
	background-color: transparent;
	border: solid 1px #0F487F;
	border-radius: 3px;
	color: black;
	font-size: 24px;
	cursor: pointer;
}

button.wave--button.flat {
	border: 1px solid transparent;
}

button.wave--button.dashed {
	border-style: dashed;
	border-color: gray;
	color: gray;
}

button.wave--button:hover {
	transition: .1s all ease-in;
	background-color: rgb(235,235,235);
}

button.wave--button i {
	height: 90%;
	top: 50%;
	left: 0%;
	transform: translate(0%,14%);
	margin-right: 3px;
	margin-left: 3px;
}

button.wave--button i.wave--right {
	height: 90%;
	top: 50%;
	left: 0%;
	transform: translate(0%,14%);
	margin-right: 3px;
	margin-left: 0px;
}

button.wave--button i.wave--left {
	height: 90%;
	top: 50%;
	left: 0%;
	transform: translate(0%,14%);
	margin-right: 0px;
	margin-left: 3px;
}

button.wave--button i.wave--center {
	height: 90%;
	top: 50%;
	left: 0%;
	transform: translate(0%,14%);
	margin-right: 0px;
	margin-left: 0px;
}

button.wave--button.disabled {
	cursor: not-allowed;
	border: gray;
	color: gray;
}

button.wave--button.disabled:hover {
	cursor: default;
	border: gray;
	color: gray;
	background-color: transparent;
}

button.wave--button.prime {
	background-color: #0F487F;
	color: white;
	-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

button.wave--button.cool-blue {
	border-color: #0080FF;
}

button.wave--button.prime.cool-blue {
	background-color: #0080FF;
	color: white;
}