.m1 {
	width: calc(4.16666666667%);
}

.m2 {
	width: calc(4.16666666667% * 2);
}

.m3 {
	width: calc(4.16666666667% * 3);
}

.m4 {
	width: calc(4.16666666667% * 4);
}

.m5 {
	width: calc(4.16666666667% * 5);
}

.m6 {
	width: calc(4.16666666667% * 6);
}

.m7 {
	width: calc(4.16666666667% * 7);
}

.m8 {
	width: calc(4.16666666667% * 8);
}

.m9 {
	width: calc(4.16666666667% * 9);
}

.m10 {
	width: calc(4.16666666667% * 10);
}

.m11 {
	width: calc(4.16666666667% * 11);
}

.m12 {
	width: calc(4.16666666667% * 12);
}

.m13 {
width: calc(4.16666666667% * 13);
}

.m14 {
	width: calc(4.16666666667% * 14);
}

.m15 {
	width: calc(4.16666666667% * 15);
}

.m16 {
	width: calc(4.16666666667% * 16);
}

.m17 {
	width: calc(4.16666666667% * 17);
}

.m18 {
	width: calc(4.16666666667% * 18);
}

.m19 {
	width: calc(4.16666666667% * 19);
}

.m20 {
	width: calc(4.16666666667% * 20);
}

.m21 {
	width: calc(4.16666666667% * 21);
}

.m22 {
	width: calc(4.16666666667% * 22);
}

.m23 {
width: calc(4.16666666667% * 23);
}

.m24 {
	width: calc(4.16666666667% * 24);
}