@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$default-font: 'Roboto', sans-serif;

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #2f2f2f;
}

.wrapper {
    max-width: 400px;
    background-color: rgba(#ffffff, .1);
    border-radius: 5px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .headerWrapper {
        width: 100%;
        height: 56px;

        .icon {
            height: 56px;
            width: 56px;
            float: left;

            img {
                height: 70%;
                width: 70%;

                position: relative;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                border-radius: 5px;
            }
        }

        .text {
            height: 56px;
            width: calc(100% - 56px);
            float: left;

            h1 {
                font-size: 24px;
                font-weight: 700;
                font-family: $default-font;
                color: #ffffff;
                margin: 0;
                padding: 0px 8px;


                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .contentWrapper {
        .row {
            width: 100%;
            height: 48px;
            padding: 0px 16px;

            h1 {
                font-family: $default-font;
                color: rgba(#ffffff, 0.8);
                font-size: 16px;
                margin: 0;

                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}