<div class="innerResources">
	<script>
		tempImport([
			"--default",
			"--mobile"
		]);
	</script>
</div>
<div class="innerPage scroll" id="vueGrid">
	<div class="spinner whiteBackground" v-if="loaded == false">
		<div class="inner"></div>
	</div>
	<div class="selectCharacter">
		<div class="inner shadow-5">
		</div>
	</div>
	<div class="campaignList wave grid">
		<div class="wave card d3 t6 m12">
			<div class="title">
				<h1>Add campaign</h1>
			</div>
			<div class="actions">
				<button onclick="joinDialog();">Join</button>
				<button onclick="hostDialog();">Host</button>
			</div>
		</div>
		<transition-group name="list">
			<div class='wave card d3 t6 m12' v-for="campaign in campaigns" v-bind:key="campaign">
				<div class='title'>
					<h1>{{ campaign.name }}</h1>
				</div>
				<div class='actions'>
					<button v-on:click="openCampaign(campaign.name)">Open</button>
				</div>
			</div>
		</transition-group>
	</div>
</div>
