.print .story img {
	padding-top: -100px;
	padding-bottom: -100px;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
	height: 100%;
	transform: scale(0.8);
}

.print .story a {
	color: rgb(0, 160, 0);
	transition: 0.2s ease-in all;
	font-size: 10px;
	margin-top: -100px;
}


.print .story a:hover {
	color: rgb(0, 200, 0);
	transition: 0.2s ease-in all;
}

.print .story .text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 70%;
}

.print .story .text h1 {
	padding: 8px;
}

.print .story .text p {
	width: 100%;
}

.print .story .text a {
	padding-bottom: 10px;
}

.print .story button {
	transition: 0.1s ease-in all;
	font-size: 10px;
	font-family: "museo";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
}
.print .story button:hover {
	transition: 0.1s ease-in all;
	font-size: 10px;
	font-family: "museo";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
	transform: scale(1.2);
}
.print .story button:active {
	transition: 0.1s ease-in all;
	font-size: 10px;
	font-family: "museo";
	background-color: rgb(255, 255, 255);
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	cursor: pointer;
	transform: scale(1.3);
}

.print .story table {
	font-family: "Roboto-Thin";
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-collapse: collapse;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.print .story td, th {
	background-image: -webkit-linear-gradient(92deg,#494949,#6f6f6f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
	text-align: left;
	padding: 8px;
	font-size: 20px;
	border: 1px solid gray;
}
.print .story th {
	transition: 0.1s ease-in all;
	background-image: -webkit-linear-gradient(92deg,#26988a,#34e1cb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.print .story tr:nth-child(even) {
	background-color: rgb(245,245,245);
}

.print .story #kop {
	font-size: 20px;
	font-family: "Roboto-Thin";
	background-image: -webkit-linear-gradient(92deg,#26988a,#34e1cb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.print {
	display: none;
}