<div class="innerResources">
	<script>
		tempImport([
			"dndinfo.js",
			"characterLoader.js",
			"--default"
		]);
	</script>
</div>
<div class="innerPage scroll">
	<div class="spinner" id="characterSheetSpinner">
		<div class="inner"></div>
	</div>
	<div class="controlls z1">
		<div id="svBtn" class="button" onclick="saveCharacter()">
			<p>save</p>
		</div>
		<div id="bkBtn" class="button" onclick="openPage(global.lastOpenedPage)">
			<p>back</p>
		</div>
	</div>

	<div class="characterContainer">
		<div class="characterSheet" id="cha">

		</div>
		<script>
			$(".characterSheet").load("./src/pages/characterSheet.html");
		</script>
	</div>

	<div class="lists">
		<div class="nav z1">
			<div class="buttons">
				<div class="button selected" onclick="openSection('inventory', 0)">
					<p>Inventory</p>
				</div>
				<div class="button" onclick="openSection('abilities', 1)">
					<p>Abilities</p>
				</div>
				<div class="button" onclick="openSection('spells', 2)">
					<p>Spells</p>
				</div>
			</div>
			<div class="line">
				<div class="parser"></div>
			</div>
		</div>
	</div>
	<div class="lane" id="editorLists">
		<div class="section" id="inventory">
			<editorlist
				internalname="inventory"
				displayname="Inventory"
				itemname="Item" showcount="true"
				:todb="toDB"
				:limit="limit"
					></editorlist>
		</div>
		<div class="section" id="abilities" style="display: none;">
			<editorlist
				internalname="abilities"
				displayname="Abilities"
				itemname="Ability"
				showcount="false"
				:todb="toDB"
				:limit="limit"
					></editorlist>
		</div>
		<div class="section" id="spells" style="display: none;">
			<editorlist
				internalname="spells"
				displayname="Spells"
				itemname="Spell"
				showcount="true"
				:todb="toDB"
				:limit="limit"
					></editorlist>
		</div>
	</div>

	<div class="lane" id="utilities" v-if="limit === false">
		<div class="entry">
			<h2>Utilities</h2>
			<p>You can click the button below to automaticly fill in a lot of text boxes while you only have your base stats. Keep in mind that this will overwrite any existing values. Clicking longrest will take a long rest.</p>
			<div class="btn">
				<button onclick="longRest()">Take long rest</button>
				<button onclick="computeMods()">Calculate mods</button>
			</div>
		</div>
		<div class="entry">
			<h2>Permissions</h2>
			<input v-model="userId" placeholder="User id" />
			<div class="btn">
				<button @click="addPermission()">Add user</button>
			</div>
			<div class="listItem" v-for="permission in permissions">
				<h1>{{ permission.username }}</h1>
				<h2>{{ permission.userId }}</h2>
				<div class="btn">
					<button class="danger" @click="revoke(permission)">Revoke</button>
				</div>
			</div>
		</div>
		<div class="entry" v-if="usedInCampaigns.length > 0">
			<h2>Used in campaigns</h2>
			<div class="listItem" v-for="campaign in usedInCampaigns">
				<h1>{{ campaign.campaignName }}</h1>
			</div>
		</div>
		<div class="entry">
			<h2>Controlls</h2>
			<div class="btn">
				<button onclick="dupe();">Duplicate character</button>
				<button onclick="deleteCharacter();" class="danger">Delete character</button>
			</div>
		</div>
	</div>

	<div class="push"></div>
</div>
