<div class="innerResources">
	<script>
		tempImport([
			"characterLoader.js",
			"--default"
		]);
	</script>
</div>
<div class="innerPage scroll">
	<div class="spinner whiteBackground" id="characterSheetSpinner">
		<div class="inner"></div>
	</div>
	<div class="controlls z1">
		<div class="button" onclick="saveCharacter()">
			<p>save</p>
		</div>
		<div class="button" onclick="openPage('characterList')">
			<p>back</p>
		</div>
	</div>

	<div class="characterContainer">
		<div class="characterSheet">

		</div>
		<script>
			$(".characterSheet").load("./src/pages/characterSheet.html");
		</script>
	</div>

	<div class="lists">
		<div class="nav z1">
			<div class="buttons">
				<div class="button selected" onclick="openSection('inventory', 0)">
					<p>Inventory</p>
				</div>
				<div class="button" onclick="openSection('abilities', 1)">
					<p>Abilities</p>
				</div>
				<div class="button" onclick="openSection('spells', 2)">
					<p>Spells</p>
				</div>
			</div>
			<div class="line">
				<div class="parser"></div>
			</div>
		</div>
		<div class="section" id="inventory">
			<div class="inputCard">
				<h1>Inventory</h1>
				<input placeholder="Item name" v-model="working.name" />
				<input placeholder="Count" v-model="working.count" type="number" />
				<textarea v-model="working.description" placeholder="Description"></textarea>
				<div class="row">
					<input @keyup.enter="addTag()" v-model="working.tag" placeholder="Tag" />
					<button @click="addTag()" style="padding: 0px; height: 41px;"><i class="material-icons">add</i></button>
				</div>
				<div class="tags">
					<div class="tag" v-for="tag in working.tags" @click="deleteTag(tag)">
						<p>{{ tag }}</p>
						<i class="material-icons">clear</i>
					</div>
				</div>
				<button @click="addItem()" v-if="editing == false">Add</button>
				<button @click="saveEdit()" v-if="editing == true">Save</button>
			</div>
			<div class="item" v-for="item in items">
				<div v-if="item.editing == true">
					<div class="shared">
						<h1>Being edited...</h1>
					</div>
				</div>
				<div v-if="item.editing != true">
					<div class="shared" @click="toggleShown(item)">
						<h1>{{ item.name }}</h1>
					</div>
					<div class="expanded" v-if="item.shown == true">
						<input v-model="item.count" placeholder="Count" type="number" />
						<p v-for="text in item.description">{{ text }}</p>
						<div class="tags">
							<div class="tag" v-for="tag in item.tags">
								<p>{{ tag }}</p>
							</div>
						</div>
						<button @click="editItem(item)">Edit</button>
						<button @click="deleteItem(item)" class="danger">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="abilities" style="display: none;">
			<div class="inputCard">
				<h1>Abilities</h1>
				<input placeholder="Ability" v-model="working.name" />
				<textarea v-model="working.description" placeholder="Description"></textarea>
				<div class="row">
					<input @keyup.enter="addTag()" v-model="working.tag" placeholder="Tag" />
					<button @click="addTag()" style="padding: 0px; height: 41px;"><i class="material-icons">add</i></button>
				</div>
				<div class="tags">
					<div class="tag" v-for="tag in working.tags" @click="deleteTag(tag)">
						<p>{{ tag }}</p>
						<i class="material-icons">clear</i>
					</div>
				</div>
				<button @click="addItem()" v-if="editing == false">Add</button>
				<button @click="saveEdit()" v-if="editing == true">Save</button>
			</div>
			<div class="item" v-for="item in items">
				<div v-if="item.editing == true">
					<div class="shared">
						<h1>Being edited...</h1>
					</div>
				</div>
				<div v-if="item.editing != true">
					<div class="shared" @click="toggleShown(item)">
						<h1>{{ item.name }}</h1>
					</div>
					<div class="expanded" v-if="item.shown == true">
						<p v-for="text in item.description">{{ text }}</p>
						<div class="tags">
							<div class="tag" v-for="tag in item.tags">
								<p>{{ tag }}</p>
							</div>
						</div>
						<button @click="editItem(item)">Edit</button>
						<button @click="deleteItem(item)" class="danger">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="spells" style="display: none;">
			<div class="inputCard">
				<h1>Spells</h1>
				<input placeholder="Spell name" v-model="working.name" />
				<input placeholder="Level" v-model="working.level" type="number" />
				<textarea v-model="working.description" placeholder="Description"></textarea>
				<div class="row">
					<input @keyup.enter="addTag()" v-model="working.tag" placeholder="Tag" />
					<button @click="addTag()" style="padding: 0px; height: 41px;"><i class="material-icons">add</i></button>
				</div>
				<div class="tags">
					<div class="tag" v-for="tag in working.tags" @click="deleteTag(tag)">
						<p>{{ tag }}</p>
						<i class="material-icons">clear</i>
					</div>
				</div>
				<button @click="addItem()" v-if="editing == false">Add</button>
				<button @click="saveEdit()" v-if="editing == true">Save</button>
			</div>
			<div class="item" v-for="item in items">
				<div v-if="item.editing == true">
					<div class="shared">
						<h1>Being edited...</h1>
					</div>
				</div>
				<div v-if="item.editing != true">
					<div class="shared" @click="toggleShown(item)">
						<h1>{{ item.name }}</h1>
					</div>
					<div class="expanded" v-if="item.shown == true">
						<p v-for="text in item.description">{{ text }}</p>
						<div class="tags">
							<div class="tag" v-for="tag in item.tags">
								<p>{{ tag }}</p>
							</div>
						</div>
						<button @click="editItem(item)">Edit</button>
						<button @click="deleteItem(item)" class="danger">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="lane">
		<div class="entry" id="permissions">
			<h2>Permissions</h2>
			<input v-model="userId" placeholder="User id" />
			<button @click="addPermission()">Add user</button>
			<div class="listItem" v-for="permission in permissions">
				<h1>{{ permission.username }}</h1>
				<h2>{{ permission.userId }}</h2>
				<button class="danger" @click="revoke(permission)">Revoke</button>
			</div>
		</div>
	</div> -->
	<div class="lane">
		<div class="entry">
			<h2>Controlls</h2>
			<div class="btn">
				<button onclick="dupe();">Duplicate character</button>
				<button onclick="deleteCharacter();" class="danger">Delete character</button>
			</div>
		</div>
	</div>

	<div class="push"></div>
</div>
