/* Box */
.wave--box.open {
	transition:200ms all ease-in;
	position:fixed;
	z-index:100;
	font-family:'Roboto',sans-serif;
	width:40%;
	height:40%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.wave--box {
	background-color:white;
	transition:200ms all ease-in;
	position:fixed;
	z-index:100;
	font-family:'Roboto',sans-serif;
	width:40%;
	height:40%;
	position:absolute;
	top:100%;
	left:50%;
	transform:translate(-50%,0%);
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.wave--box-top {
	width:100%;
	height:20%;
	border-bottom:1px #ebebeb solid;
}

.wave--box-top .wave--box-top-text {
	margin:0;
	width:90%;
	position:relative;
	top:50%;
	left:2%;
	transform:translate(0%,-50%);
	text-align:left;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}

.wave--box-content {
	height:60%;
	width:100%;
}

.wave--box-content .wave--box-content-text {
	height:90%;
	width:98%;
	margin:0;
	position:relative;
	top:5%;
	left:2%;
	text-align:left;
	display:block;
	overflow:hidden;
	overflow-y:auto;
	text-overflow:ellipsis;
}

.wave--box-buttons {
	height:20%;
	width:100%;
}

.wave--box-buttons .wave--box-button {
	width:50%;
	height:100%;
	float:left;
	cursor:pointer;
}

.wave--box-buttons .wave--box-button h1 {
	margin:0;
	width:90%;
	position:relative;
	top:50%;
	left:2%;
	transform:translate(0%,-50%);
	text-align:left;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align:center;
}

.wave--box-buttons .wave--box-true {
	transition:100ms all ease-in;
	background-color:white;
}

.wave--box-buttons .wave--box-true:hover {
	transition:100ms all ease-in;
	background-color:#4c90ff;
}

.wave--box-buttons .wave--box-false {
	transition:150ms all ease-in;
	background-color:white;
}

.wave--box-buttons .wave--box-false:hover {
	transition:150ms all ease-in;
	background-color:rgb(235,235,235);
}