<div class="innerResources">
	<script>
		tempImport([
			"--default"
		]);
	</script>
</div>
<div class="innerPage" id="vueInstance">
	<div class="lane">
		<div class="entry">
			<h2>Spells</h2>
			<input placeholder="Search" v-model="query" >
			<div class="listItem" v-for="spell in spellList">
				<h1 @click="show(spell)">{{ spell.name }}</h1>
				<div v-if="spell.show == true" class="markdown">
					<table>
						<thead>
							<tr>
								<th>Property</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Casting time</th>
								<th>{{ spell.casting_time }}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
