@font-face {
	font-family: museo;
	src: url(../fonts/Museo500.otf);
}

@font-face {
	font-family: Roboto-Thin;
	src: url(../fonts/roboto/Roboto-Thin.ttf);
}

html,body {
	margin: 0;
	padding: 0;
}

.top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #4c90ff;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top #username {
	display: block;
	color: #f2f2f2;
	text-align: left;
	line-height: 60px;
	margin-left: 10px;
	/*padding: 14px 16px;*/
	text-decoration: none;
	font-size: 25px;
	font-family: "museo";
}

.top #uid {
	display: none;
}

.top img {
	padding: 5px 10px;
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

.post {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	margin-top: 25vh;
	width: 70%;
	height: 80vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.post h1 {
	text-align: center;
	font-family: "museo";
}

.post p {
	font-family: "museo";
	width: 50%;
	text-align: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.post input {
	display: block;
	margin-left: auto;
	margin-right: auto;
}