// out: $1.$2.css, compress: false

@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

font = 'Roboto', sans-serif;
animation-flow = cubic-bezier(0.0, 0.0, 0.2, 1);
accent-color = #0080ff;
default-text-color = #000000;
unfocused = rgba(0, 0, 0, .1);
danger-unfocused = #ff3300;
danger = rgba(255, 51, 0, .15);
no-hover = white;
hover = rgba(0, 0, 0, .1);

@import "/body.styl";
@import "/elements.styl";
@import "/singular.styl";
@import "/error.styl";
@import "/menubar.styl";
@import "/overlay.styl";
@import "/sidebar.styl"
@import "/entry.styl";
@import "/snackbar.styl";
@import "/spinner.styl";
@import "/dialog.styl";
@import "/banner.styl";
@import "/noitems.styl";


.terminal {
	z-index: 2000;
	overflow: scroll;
}
