// main: index.styl

.markdown {

    &.red {
        width: calc(100% - 4px);
        border: 2px solid danger-unfocused;
        border-radius: 10px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 26px;
        margin-top: 12px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    h1, h2, h3, h4, h5, h6 {
        white-space: pre-wrap;
        text-overflow: clip;
        color: default-text-color;
    }

    img {
        max-width: 100%;
        border-radius: 10px;
    }

    code {
        font-family: "Roboto", sans-serif;
        background-color: rgba(0, 0, 0, .05);
        padding: 4px 8px;
        border-radius: 5px;
        font-family: "Roboto", sans-serif;
        background-color: rgba(0, 0, 0, .05);
        padding: 4px 8px;
        border-radius: 5px;
    }

    pre {
        width: 94%;
        position: relative;
        left: 50%;
        transform: translateX(-50%)

        code {
            border: 2px solid rgba(0, 0, 0, .1);
            display: inline-block;
            width: calc(100% - 24px);
            white-space: pre-wrap;
        }

    }

    table {
        width: 94%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        thead tr th {
            border-bottom: rgba(0, 0, 0, .1) 2px solid;
            padding: 8px 0px;
        }

        tbody tr td {
            padding: 8px 0px;
        }

    }

    blockquote {
        margin: 12px 8px;

        p {
            border-left: 4px solid rgba(0, 0, 0, .1);
            padding-left: 8px;
        }

    }

}
