// main: index.styl

.menubar {
	position: fixed;
	min-height: 46px;
	height: 10vh;
	width: 100%;
	border-bottom-left-radius: 1vh;
	border-bottom-right-radius: 1vh;
	background-color: white;
	z-index: 10;

    .menu {
        height: 10vh;
    	width: 10vh;
    	min-height: 46px;
    	min-width: 46px;
    	background-color: transparent;

        i {
        	font-size: 5vh;
        	cursor: pointer;
        }

        img {
        	height: 60%;
        	width: 60%;
        	position: relative;
        	top: 20%;
        	left: 20%;
        	border-radius: 50%;
        }

    }

}
