// main: index.styl

.sidebar {
	position: fixed;
	z-index: 30;
	width: 80vw;
	max-width: 360px;
	height: 100%;
	background-color: white;
	transition: 200ms transform cubic-bezier(0.4, 0.0, 0.6, 1);
	transform: translateX(-200%);
	overflow-y: auto;

    &.open {
    	transform: translateX(0vw);
    	transition: 250ms transform cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .userWrapper {
    	width: 100%;
    	/* height: 180px; */
    	position: relative;
    	padding: 12px 0px;

        img {
            height: 56px;
            border-radius: 50%;
        	margin: 16px
        }

        .profileUsername {

            h1 {
            	width: calc(100% - 32px);
            	margin: 0px 16px;
            	font-size: 24px;
            	font-weight: 500;
            }

            p {
            	width: calc(100% - 32px);
            	margin: 0px 16px;
            	color: rgba(0, 0, 0, 0.6);
            	font-size: 16px;
            }

        }

    }

    .menu {
        width: 100%;
        position: relative;
    	margin-top: 32px;

        .divider {
        	width: 100%;
        	height: 1px;
        	margin: 16px 0px;
        	background-color: rgb(235, 235, 235);
        }

        .menubutton {
        	width: calc(100% - 32px);
        	height: 48px;
        	background-color: white;
        	cursor: pointer;
        	position: relative;
        	border-radius: 10px;
        	margin: 4px 16px;

            &.selected {
            	background-color: rgba(0, 128, 255, 0.05);

                p {
                	color: rgb(0,128,255);
                }

            }

            &:hover {
            	background-color: rgb(235, 235, 235);
            }

            p {
            	color: #505050;
            	width: 90%;
            	position: relative;
            	left: 5%;
            	font-size: 1.4em;
            	margin: 0;

                i {
                	font-size: inherit;
                	transform: translate(0%, 13%);
                    margin-right: 10%;
                }

            }

        }

    }

}

.sidebarBackground {
	transition: 150ms opacity cubic-bezier(0.4, 0.0, 0.6, 1);
	position: fixed;
	z-index: -2;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;

    &.open {
    	opacity: 1;
    	z-index: 10;
    	transition: 200ms opacity cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .sidebarExit {
    	width: 80%;
    	height: 100%;
    	position: relative;
    	left: 20%;
    }

}
