// main: index.styl

.page {
	background-color: #f1f1f1;
}

.noMargin {
	margin: 0;
}

.pointer {
	cursor: pointer;
}

.noOverflow {
	white-space: pre-wrap !important;
	text-overflow: clip !important;
}

.center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.textCenter {
	text-align: center;
}

.hc {
	text-align: center;
}

.centerVertical {
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
}

.centerHorizontal {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}
