// main: index.styl

.spinner {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	z-index: 3;

    &.background {
    	background-color: rgba(0, 0, 0, 0.1);
    }

    &.whiteBackground {
    	background-color: white;
    }

    .inner {
    	background-color: white;
    	height: 64px;
    	width: 64px;
    	position: relative;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	border-radius: 5px;
    	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    	border: 2px #ff3030 solid;
    	animation: infinite spinner 1s;

        @keyframes spinner {
        	0% {
        		border-radius: 5px;
        	}

        	50% {
        		border-radius: 50%;
        	}

        	100% {
        		border-radius: 5px;
        	}
        }

    }

}
