// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// Functions
@function dpToRem($dp) {
    @return $dp * 0.0625rem;
}

// Globals
$globalFontFamily: 'Roboto', sans-serif;
$globalFontSize: 16px;
$globalFontWeightThin: 100;
$globalFontWeightLight: 300;
$globalFontWeightRegular: 400;
$globalFontWeightMedium: 500;
$globalFontWeightBold: 700;
$globalFontWeightBlack: 900;

$globalBorderRadius: 5px;

$globalScrimColor: rgba(0, 0, 0, .5);
$globalDefaultCurve: cubic-bezier(0.4, 0.0, 0.2, 1);

// Colors
$primaryColor: #6200ea;
$primaryColorLight: #9d46ff;
$primaryColorDark: #0a00b6;
$textOnPrimaryColor: #ffffff;
$secondaryColor: #007263;
$secondaryColorLight: rgb(6, 189, 155);
$secondaryColorDark: #02463d;
$textOnSecondaryColor: #000000;

$backgroundColor: #f1f1f1;
$textOnBackgroundColor: #000000;
$surfaceColor: #ffffff;
$textOnSurfaceColor: #000000;
$errorColor: #b00020;
$textOnErrorColor: #ffffff;

// -> Type scale

// Header 1
$typeScaleHeader1FontFamily: $globalFontFamily;
$typeScaleHeader1FontWeight: $globalFontWeightLight;
$typeScaleHeader1FontSize: dpToRem(96);
$typeScaleHeader1FontTransform: none;
$typeScaleHeader1LetterSpacing: dpToRem(-1.5);

// Header 2
$typeScaleHeader2FontFamily: $globalFontFamily;
$typeScaleHeader2FontWeight: $globalFontWeightLight;
$typeScaleHeader2FontSize: dpToRem(60);
$typeScaleHeader2FontTransform: none;
$typeScaleHeader2LetterSpacing: dpToRem(-0.5);

// Header 3
$typeScaleHeader3FontFamily: $globalFontFamily;
$typeScaleHeader3FontWeight: $globalFontWeightRegular;
$typeScaleHeader3FontSize: dpToRem(48);
$typeScaleHeader3FontTransform: none;
$typeScaleHeader3LetterSpacing: dpToRem(0);

// Header 4
$typeScaleHeader4FontFamily: $globalFontFamily;
$typeScaleHeader4FontWeight: $globalFontWeightRegular;
$typeScaleHeader4FontSize: dpToRem(34);
$typeScaleHeader4FontTransform: none;
$typeScaleHeader4LetterSpacing: dpToRem(0.25);

// Header 5
$typeScaleHeader5FontFamily: $globalFontFamily;
$typeScaleHeader5FontWeight: $globalFontWeightRegular;
$typeScaleHeader5FontSize: dpToRem(24);
$typeScaleHeader5FontTransform: none;
$typeScaleHeader5LetterSpacing: dpToRem(0);

// Header 6
$typeScaleHeader6FontFamily: $globalFontFamily;
$typeScaleHeader6FontWeight: $globalFontWeightMedium;
$typeScaleHeader6FontSize: dpToRem(20);
$typeScaleHeader6FontTransform: none;
$typeScaleHeader6LetterSpacing: dpToRem(0.15);

// Subtitle 1
$typeScaleSubtitle1FontFamily: $globalFontFamily;
$typeScaleSubtitle1FontWeight: $globalFontWeightRegular;
$typeScaleSubtitle1FontSize: dpToRem(16);
$typeScaleSubtitle1FontTransform: none;
$typeScaleSubtitle1LetterSpacing: dpToRem(0.15);

// Subtitle 2
$typeScaleSubtitle2FontFamily: $globalFontFamily;
$typeScaleSubtitle2FontWeight: $globalFontWeightMedium;
$typeScaleSubtitle2FontSize: dpToRem(14);
$typeScaleSubtitle2FontTransform: none;
$typeScaleSubtitle2LetterSpacing: dpToRem(0.1);

// Body 1
$typeScaleBody1FontFamily: $globalFontFamily;
$typeScaleBody1FontWeight: $globalFontWeightRegular;
$typeScaleBody1FontSize: dpToRem(16);
$typeScaleBody1FontTransform: none;
$typeScaleBody1LetterSpacing: dpToRem(0.5);

// Body 2
$typeScaleBody2FontFamily: $globalFontFamily;
$typeScaleBody2FontWeight: $globalFontWeightRegular;
$typeScaleBody2FontSize: dpToRem(14);
$typeScaleBody2FontTransform: none;
$typeScaleBody2LetterSpacing: dpToRem(0.25);

// Button
$typeScaleButtonFontFamily: $globalFontFamily;
$typeScaleButtonFontWeight: $globalFontWeightMedium;
$typeScaleButtonFontSize: dpToRem(14);
$typeScaleButtonFontTransform: uppercase;
$typeScaleButtonLetterSpacing: dpToRem(1.25);

// Caption
$typeScaleCaptionFontFamily: $globalFontFamily;
$typeScaleCaptionFontWeight: $globalFontWeightMedium;
$typeScaleCaptionFontSize: dpToRem(12);
$typeScaleCaptionFontTransform: none;
$typeScaleCaptionLetterSpacing: dpToRem(0.4);

// Overline
$typeScaleOverlineFontFamily: $globalFontFamily;
$typeScaleOverlineFontWeight: $globalFontWeightMedium;
$typeScaleOverlineFontSize: dpToRem(10);
$typeScaleOverlineFontTransform: uppercase;
$typeScaleOverlineLetterSpacing: dpToRem(1.5);

// -> Elevation

$elevation0dp: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);;
$elevation1dp: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
$elevation2dp: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$elevation3dp: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
$elevation4dp: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
$elevation5dp: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
$elevation6dp: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
$elevation7dp: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
$elevation8dp: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
$elevation9dp: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
$elevation10dp: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
$elevation11dp: 0 6px 7px -4px rgba(0,0,0,.2), 0 11px 15px 1px rgba(0,0,0,.14), 0 4px 20px 3px rgba(0,0,0,.12);
$elevation12dp: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
$elevation13dp: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
$elevation14dp: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
$elevation15dp: 0 8px 9px -5px rgba(0,0,0,.2), 0 15px 22px 2px rgba(0,0,0,.14), 0 6px 28px 5px rgba(0,0,0,.12);
$elevation16dp: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
$elevation17dp: 0 8px 11px -5px rgba(0,0,0,.2), 0 17px 26px 2px rgba(0,0,0,.14), 0 6px 32px 5px rgba(0,0,0,.12);
$elevation18dp: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
$elevation19dp: 0 9px 12px -6px rgba(0,0,0,.2), 0 19px 29px 2px rgba(0,0,0,.14), 0 7px 36px 6px rgba(0,0,0,.12);
$elevation20dp: 0 10px 13px -6px rgba(0,0,0,.2), 0 20px 31px 3px rgba(0,0,0,.14), 0 8px 38px 7px rgba(0,0,0,.12);
$elevation21dp: 0 10px 13px -6px rgba(0,0,0,.2), 0 21px 33px 3px rgba(0,0,0,.14), 0 8px 40px 7px rgba(0,0,0,.12);
$elevation22dp: 0 10px 14px -6px rgba(0,0,0,.2), 0 22px 35px 3px rgba(0,0,0,.14), 0 8px 42px 7px rgba(0,0,0,.12);
$elevation23dp: 0 11px 14px -7px rgba(0,0,0,.2), 0 23px 36px 3px rgba(0,0,0,.14), 0 9px 44px 8px rgba(0,0,0,.12);
$elevation24dp: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);

// -> Components

// topBar
$topBarBackgroundColor: $primaryColor;
$topBarElevation: $elevation4dp;
$topBarZIndex: 4;

    // Font
    $topBarFontColor: $textOnPrimaryColor;
    $topBarFontFamily: $typeScaleHeader6FontFamily;
    $topBarFontWeight: $typeScaleHeader6FontWeight;
    $topBarFontSize: $typeScaleHeader6FontSize;
    $topBarFontTransform: $typeScaleHeader6FontTransform;
    $topBarLetterSpacing: $typeScaleHeader6LetterSpacing;

// Card
$cardBackgroundColor: $surfaceColor;
$cardBorderRadius: $globalBorderRadius;

// Nav Drawer
$navDrawerBackgroundColor: $surfaceColor;
$navDrawerScrimColor: $globalScrimColor;
$navDrawerTransition: 200ms $globalDefaultCurve all;
$navDrawerElevation: $elevation16dp;

// Nav Drawer User
$navDrawerUserBackgroundColor: $navDrawerBackgroundColor;
$navDrawerUserImgBorderRadius: 50%;

    // Primary header (username)
    $navDrawerPrimaryTextColor: $textOnSurfaceColor;
    $navDrawerPrimaryTextFontFamily: $typeScaleHeader6FontFamily;
    $navDrawerPrimaryTextFontWeight: $typeScaleHeader6FontWeight;
    $navDrawerPrimaryTextFontSize: $typeScaleHeader6FontSize;
    $navDrawerPrimaryTextFontTransform: $typeScaleHeader6FontTransform;
    $navDrawerPrimaryTextLetterSpacing: $typeScaleHeader6LetterSpacing;

    // Secondary header
    $navDrawerSecondaryTextColor: #0000008a;
    $navDrawerSecondaryTextFontFamily: $typeScaleSubtitle2FontFamily;
    $navDrawerSecondaryTextFontWeight: $typeScaleSubtitle2FontWeight;
    $navDrawerSecondaryTextFontSize: $typeScaleSubtitle2FontSize;
    $navDrawerSecondaryTextFontTransform: $typeScaleSubtitle2FontTransform;
    $navDrawerSecondaryTextLetterSpacing: $typeScaleSubtitle2LetterSpacing;

// Nav Drawer Button
$navDrawerButtonHeight: 40px;
$navDrawerButtonFontColor: rgba($textOnSurfaceColor, 0.871);
$navDrawerButtonBorderRadius: $globalBorderRadius;
$navDrawerButtonFontFamily: $globalFontFamily;
$navDrawerButtonFontSize: dpToRem(16);
$navDrawerButtonFontWeight: 500;
$navDrawerButtonIconSize: 24px;
$navDrawerButtonIndicatorColor: $primaryColor;

// Main View
$mainViewBackgroundColor: $backgroundColor;

// Card
$cardPadding: 16px;
$cardMarginCompareTo: $cardPadding;
$cardPaddingHorizontal: $cardPadding;
$cardPaddingVertical: $globalBorderRadius;
$cardPaddingLeft: $cardPaddingHorizontal;
$cardPaddingRight: $cardPaddingHorizontal;
$cardPaddingTop: $cardPaddingVertical;
$cardPaddingBottom: $cardPaddingVertical;
$cardMargin: 8px;
$cardMarginHorizontal: auto;
$cardMarginVertical: $cardMargin;
$cardMarginLeft: $cardMarginHorizontal;
$cardMarginRight: $cardMarginHorizontal;
$cardMarginTop: $cardMarginVertical;
$cardMarginBottom: $cardMarginVertical;
$cardWidth: calc(95% - #{$cardPadding * 2});
$cardSurfaceColor: $surfaceColor;
$cardBorderRadius: $globalBorderRadius;
$cardElevation: $elevation1dp;

    // Header 1
    $cardHeader1FontColor: $textOnSurfaceColor;
    $cardHeader1FontSize: 20px;
    $cardHeader1FontFamily: $typeScaleHeader1FontFamily;
    $cardHeader1FontWeight: 500;
    $cardHeader1LetterSpacing: initial;
    $cardHeader1FontTransform: $typeScaleHeader1FontTransform;

    // Subtitle
    $cardSubtitleFontColor: #505050;
    $cardSubtitleFontSize: $typeScaleSubtitle1FontSize;
    $cardSubtitleFontFamily: $typeScaleSubtitle1FontFamily;
    $cardSubtitleFontWeight: $typeScaleSubtitle1FontWeight;
    $cardSubtitleLetterSpacing: $typeScaleSubtitle1LetterSpacing;
    $cardSubtitleFontTransform: $typeScaleSubtitle1FontTransform;

    // Body
    $cardBodyFontColor: #414141;
    $cardBodyFontSize: $typeScaleBody1FontSize;
    $cardBodyFontFamily: $typeScaleBody1FontFamily;
    $cardBodyFontWeight: $typeScaleBody1FontWeight;
    $cardBodyLetterSpacing: $typeScaleBody1LetterSpacing;
    $cardBodyFontTransform: $typeScaleBody1FontTransform;

// TextBox
$textBoxBlurColor: #303030;
$textBoxFocusColor: $secondaryColor;
$textBoxHelperTextFontColor: #303030;
$textBoxErrorColor: $errorColor;
$textBoxBorderFocusColor: $textBoxFocusColor;
$textBoxBorderBlurColor: $textBoxBlurColor;
$textBoxLabelFocusColor: $textBoxFocusColor;
$textBoxLabelBlurColor: $textBoxBlurColor;
$textBoxFontFamily: $globalFontFamily;
$textBoxBorderRadius: $globalBorderRadius;

// Backdrop
$backdropBorderRadius: 15px;
$backdropBackgroundColor: $primaryColor;
$backdropSurfaceColor: $surfaceColor;

    // Drawer subtitle
    $backdropTitleFontFamily: $typeScaleSubtitle1FontFamily;
    $backdropTitleFontWeight: $typeScaleSubtitle1FontWeight;
    $backdropTitleFontSize: $typeScaleSubtitle1FontSize;
    $backdropTitleLetterSpacing: $typeScaleSubtitle1LetterSpacing;
    $backdropTitleFontTransform: $typeScaleSubtitle1FontTransform;

$dividerColor: #ececec;