@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.lane {
	width: 100%;
	max-width: 935px;
	height: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.counter {
	width: 100%;
	height: 50%;
}

.counter .background {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-size: cover !important;
}

.counter .forground {
	position: relative;
	height: 100%;
	width: 100%;
	top: -100%;
	left: 0px;
	z-index: 2;
}

.counter .forground > div {
	height: 100%;
}

.counter .forground .side {
	width: 25%;
	float: left;
	cursor: pointer;
}

.counter .forground .middle {
	width: 50%;
	float: left;
}

.counter .forground .side > i {
	position: relative;
	top: 50%;
	left: 50%;
	font-size: 46px;
	color: white;
	transform: translate(-50%, -50%);
}

.counter .forground .middle > h1 {
	position: relative;
	top: 50%;
	left: 50%;
	font-size: 58px;
	margin: 0;
	color: white;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.animateDec {
	animation: dec linear 300ms;
}

@keyframes dec {
	0% {
		transform: translate(-50%, -50%);
	}
	20% {
		transform: translate(-60%, -80%);
	}
	40% {
		transform: translate(-65%, 0%);
	}
	60% {
		transform: translate(-44%, -25%)
	}
	80% {
		transform: translate(-47%, -51%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.animateInc {
	animation: inc cubic-bezier(0.4, 0.0, 0.2, 1) 300ms;
}

@keyframes inc {
	0% {
		transform: translate(-50%, -50%);
	}
	60% {
		transform: translate(-50%, -100%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.counter .settings {
	background-color: white;
	top: -200%;
}

.counter .settings .bar {
	height: 45px;
	width: 100%;
	border-bottom: #cecece solid 1px;
}

.counter .settings .bar .button {
	height: 45px;
	width: 45px;
}

.counter .settings .bar .button i {
	font-size: 24px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.counter .settings input {
	margin: 8px 4px;
	width: calc(100% - 28px);
	font-size: 18px;
	outline: 0;
	font-family: 'Roboto', sans-serif;
	border: 2px solid #cecece;
	border-radius: 2px;
	padding: 4px 8px;
}

.counter .settings button {
	margin: 8px 4px;
	width: calc(100% - 8px);
	font-size: 18px;
	outline: 0;
	font-family: 'Roboto', sans-serif;
	border: 2px solid #cecece;
	border-radius: 2px;
	padding: 4px 8px;
}
