<div class="innerPage">
	<script>
		tempImport([
			"--default"
		])
	</script>
	<div class="lane" id="vueProfile">
		<div class="entry" style="margin-top: 24px;">
			<img class="topUserImage" v-bind:src="profileImage" />
			<h1 class="ch noOverflow">{{ username }}</h1>
			<h2 class="ch noOverflow">{{ userId }}</h2>
		</div>
		<div class="entry">
			<h2>User id</h2>
			<div class="btn">
				<button @click="copyId()">Copy user ID</button>
			</div>
		</div>
		<div class="entry">
			<h2>Display name</h2>
			<input v-model="editing.username" placeholder="Display name">
			<p>This only changes your public display name.</p>
			<div class="btn">
				<button @click="changeUsername()">Change</button>
			</div>
		</div>
		<!-- <div class="entry">
			<h2>Actions</h2>
			<button @click="toggleVisible('permissions')">View permissions</button>
		</div>
		<div class="entry" v-if="view.permissions == true">
			<h2>Permissions</h2>
			<h1>Add permission</h1>
			<input placeholder="User id" />

		</div> -->
	</div>
</div>
