.innerPage .section {
	position: fixed;
	height: calc(100% - 64px);
	width: 100%;
	display: none;
	background-color: #f1f1f1;
	top: 64px;
	overflow-y: auto;
}

.innerPage .lane .entry .listItem.open {
	border-color: #0080ff;
}
