@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

@font-face {
    font-family: "Ostrich Sans Master";
    src: url(../fonts/ostrich-regular.ttf);
}

h1 {
    font-family: "Courier New", "Lucida Console";
    font-size: 32px;
    color: #f00;
    font-style: oblique;
}

p {
    font-family: "Cedarville Cursive";
    size: 10vw;
    color: rgb(0, 0, 255);
    font-variant: small-caps;
}

footer {
    font-family: "Ostrich Sans Master";
    font-size: 1.6vw;
    color: hsla(315, 100%, 50%, 1);
    font-stretch: expanded;
}