.sidebar {
	position: fixed;
	z-index: 30;
	width: 25vw;
	height: 100vh;
	background-color: white;
	transition: 200ms transform cubic-bezier(0.4, 0.0, 0.6, 1);
	transform: translateX(-35vw);
}

.sidebar.open {
	transform: translateX(0vw);
	transition: 250ms transform cubic-bezier(0.0, 0.0, 0.2, 1);
}

.sidebar .userWrapper {
	width: 100%;
	height: 15%;
	position: relative;
	top: 5%;
}

.sidebar .userWrapper .userCard {
	width: 90%;
	height: 90%;
	border-radius: 1vh;
	background-color: #36096d;
	background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.sidebar .iconWrapper {
	height: 100%;
	width: 30%;
	float: left;
}

.sidebar .iconWrapper img {
    height: 60%;
    border-radius: 50%;
}

.sidebar .nameWrapper {
	width: 70%;
	height: 100%;
	float: left;
}

.sidebar .nameWrapper h1 {
	width: 98%;
	color: white;
	font-weight: 100;
}

.sidebar .menu {
	height: 85%;
    width: 100%;
    position: relative;
    top: 10%;
}

.sidebar .menubutton {
	width: 90%;
	height: 7%;
	background-color: white;
	cursor: pointer;
	position: relative;
	left: 5%;
	border-radius: 5px;
	margin: 2px 0;
}

.sidebar .menubutton.selected {
	background-color: rgba(0, 128, 255, 0.05);
}

.sidebar .menubutton p {
	color: #505050;
	width: 90%;
	position: relative;
	left: 5%;
	font-size: 1.4em;
	margin: 0;
}

.sidebar .menubutton p i {
	font-size: inherit;
	transform: translate(0%, 13%);
    margin-right: 10%;
}

.sidebar .menubutton.selected p i {
	color: rgb(0,128,255);
}

.sidebar .menubutton:hover {
	background-color: rgb(235, 235, 235);
}

.sidebar .divider {
	width: 100%;
	height: 1px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.sidebar .divider .dividerInner {
	width: 90%;
	height: 100%;
	background-color: rgb(235, 235, 235);
}

.sidebarBackground {
	transition: 150ms opacity cubic-bezier(0.4, 0.0, 0.6, 1);
	position: fixed;
	z-index: -2;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
}

.sidebarBackground.open {
	opacity: 1;
	z-index: 10;
	transition: 200ms opacity cubic-bezier(0.0, 0.0, 0.2, 1);
}

.sidebarBackground .sidebarExit {
	width: 80%;
	height: 100%;
	position: relative;
	left: 20%;
}
