<!DOCTYPE html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="../assets/components/pay/css/payment.css?v=<?=time();?>" type="text/css" rel="stylesheet">
		<script src="../assets/components/pay/js/payment.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="innerPage">
			<div class="side-bar">
				<div class="head">
					<h1 id="balance"></h1>
				</div>
				<div class="id">
					<h1 id="paymentId"></h1>
				</div>
				<div class="paymentDiv">
					<input id="toPaymentId" type="text" placeholder="Payment Id">
					<input id="paymentInputAmount" type="number" placeholder="amount">
					<div>
						<button id="btnPayment" class="blue" style="margin-left:">Pay</button>
					</div>
					<script>
						$("#btnPayment").on("click",function(){
							var paymentAmount = $("#paymentInputAmount").val();
							payment($("#toPaymentId").val(), paymentAmount);
						});
					</script>
				</div>
			</div>
		</div>
	</body>
</html>