.wave.top.bar {
	height: 56px;
}

.wave.page {
	height: calc(100% - 56px);
	width: 100%;
	overflow-y: auto;
}

.wave.top.bar > .section {
    height: 56px;
    width: 56px;
}

.wave.top.bar > .section button {
    height: calc(100% - 8px);
    width: calc(100% - 8px);
}
