p {
	font-size: .7em;
}

.boxer {
	width: 90%;
	height: 90%;
}

.boxer .title h1 {
	font-size: 5em !important;
}

.boxer .text .content {
	width: 90%;
	font-size: 3em;
}

.innerPage {
	height: 100%;
}

/* .fab {
	width: 15vw;
    height: 15vw;
	left: calc(97vw - 15vw);
}

.fab.show {
	top: calc(96vh - 15vw);
}

.fab i {
	font-size: 5em;
} */

.sidebar {
	width: 80vw;
	transform: translateX(-90vw);
}

.sidebarBackground .sidebarExit {
	left: 80%;
	width: 20%;
}

/* .sidebar .nameWrapper h1 {
	font-size: 4em;
} */

/* .sidebar .menubutton p {
	font-size: 3em;
} */

.page {
	height: 100vh;
	overflow-y: scroll;
}

.startButton {
	font-size: 2.5em;
}

.cardWrapper {
	width: 100%;
	padding: 5%;
	display: inline-block;
}

.cardWrapper .card {
	width: 90%;
	border-radius: 1vh;
	padding-bottom: 0.5vh;
}

/* .cardWrapper .card .colorWrapper {
	height: 2vh;
	width: 100%;
}

.cardWrapper .card .color {
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	width: 90%;
	height: 1vh;
	border-radius: 0.5vh;
	top: 0.5vh;
	left: 10%;
} */

.cardWrapper .card h1 {
	font-size: 4vh;
	margin: 0.5vh;
	font-weight: 500;
	width: 95%;
}

.cardWrapper .card p {
	width: 95%;
	font-size: 2vh;
}

.buttons.mobile {
	width: 100%;
}

.buttons.mobile .contr {
	width: 50%;
	float: left;
}

.buttons.mobile .contr.right {
	margin-left: 0;
}

.button.mobile .contr.left {
	margin-right: 0;
}
