@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
	font-size: 900;
}

/* Defines some vars */
:root {
	--font: 'Roboto', sans-serif;
}

/* Sets the body and html elements to be the size of the window */
html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: var(--font);
	height: 100%;
	width: 100%;
}

/* Sets their font */
h1, p, input, textarea {
	font-family: var(--font);
}

/* Default styling */
input, textarea {
	border: 2px solid rgb(0,128,255);
	background-color: transparent;
	outline: 0;
}

input::placeholder {
    color: rgb(0,128,255);
    opacity: 1;
}

input::-ms-input-placeholder {
	color: rgb(0,128,255);
}

html div.wave.menu a {
	font-size: 2vh;
}

/* Overwrites some wave components */
html .wave.bar.top {
	background-color: white;
}

html .wave.top.bar > .section.text h1 {
	color: black;
}

html .wave.top.bar > .section button i {
	color: black;
}

/* Defines some global classes */
.noMargin {
	margin: 0;
}

.pointer {
	cursor: pointer;
}

.noOverflow {
	white-space: pre-wrap !important;
	text-overflow: clip !important;
}

.center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.textCenter {
	text-align: center;
}

.centerVertical {
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
}

.centerHorizontal {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

/* CSS for the error page */
.error {
	display: none;
	z-index: 15;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: white;
	overflow-y: auto;
}

.error .inner {
	width: 95%;
	height: 60%;
	max-width: 935px;
}

.error .inner h1 {
	width: 98%;
	position: relative;
	top: 0.5%;
	left: 1%;
	font-size: 2.5em;
}

.error .inner p {
	width: 98%;
	position: relative;
	top: 0.5%;
	left: 1%;
	font-size: 2em;
}


.menubar {
	position: fixed;
	min-height: 46px;
	height: 10vh;
	width: 100%;
	border-bottom-left-radius: 1vh;
	border-bottom-right-radius: 1vh;
	background-color: white;
	z-index: 10;
}

.menubar .menu {
    height: 10vh;
	width: 10vh;
	min-height: 46px;
	min-width: 46px;
	background-color: transparent;
}

.menubar .menu i {
	font-size: 5vh;
	cursor: pointer;
}

.menubar .user img {
	height: 60%;
	width: 60%;
	position: relative;
	top: 20%;
	left: 20%;
	border-radius: 50%;
}

/* Overwrites a wave component */
div.wave.card {
	float: left;
}

/* Styling for sidebar */
.sidebar {
	position: fixed;
	z-index: 30;
	width: 80vw;
	max-width: 360px;
	height: 100%;
	background-color: white;
	transition: 200ms transform cubic-bezier(0.4, 0.0, 0.6, 1);
	transform: translateX(-200%);
	overflow-y: auto;
}

.sidebar.open {
	transform: translateX(0vw);
	transition: 250ms transform cubic-bezier(0.0, 0.0, 0.2, 1);
}

.sidebar .userWrapper {
	width: 100%;
	/* height: 180px; */
	position: relative;
	padding: 12px 0px;
}

.sidebar .profileUsername h1 {
	width: calc(100% - 32px);
	margin: 0px 16px;
	font-size: 24px;
	font-weight: 500;
}

.sidebar .profileUsername p {
	width: calc(100% - 32px);
	margin: 0px 16px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 16px;
}

.sidebar img {
    height: 56px;
    border-radius: 50%;
	margin: 16px
}

.sidebar .nameWrapper {
	width: 70%;
	height: 100%;
	float: left;
}

.sidebar .nameWrapper h1 {
	width: 98%;
	color: white;
	font-weight: 100;
}

.sidebar .menu {
    width: 100%;
    position: relative;
	margin-top: 32px;
}

.sidebar .menubutton {
	width: calc(100% - 32px);
	height: 48px;
	background-color: white;
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	margin: 4px 16px;
}

.sidebar .menubutton.selected {
	background-color: rgba(0, 128, 255, 0.05);
}

.sidebar .menubutton p {
	color: #505050;
	width: 90%;
	position: relative;
	left: 5%;
	font-size: 1.4em;
	margin: 0;
}

.sidebar .menubutton p i {
	font-size: inherit;
	transform: translate(0%, 13%);
    margin-right: 10%;
}

.sidebar .menubutton.selected p i {
	color: rgb(0,128,255);
}

.sidebar .menubutton:hover {
	background-color: rgb(235, 235, 235);
}

.sidebar .divider {
	width: 100%;
	height: 1px;
	margin: 16px 0px;
	background-color: rgb(235, 235, 235);
}

.sidebarBackground {
	transition: 150ms opacity cubic-bezier(0.4, 0.0, 0.6, 1);
	position: fixed;
	z-index: -2;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
}

.sidebarBackground.open {
	opacity: 1;
	z-index: 10;
	transition: 200ms opacity cubic-bezier(0.0, 0.0, 0.2, 1);
}

.sidebarBackground .sidebarExit {
	width: 80%;
	height: 100%;
	position: relative;
	left: 20%;
}

/* Sets some global classes */
.innerPage {
	width: 100%;
	height: 100%;
}

.innerPage.scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

.innerPage iframe {
	width: 100%;
	height: 100%;
}

.innerPage .phb {
	left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 2%;
	border-radius: 1vh;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* Styling for overlay */
.overlay {
	width: 80%;
	height: 80%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: white;
	display: none;
}

.overlay.open {
	display: block;
}

.terminal {
	z-index: 2000;
	overflow: scroll;
}

/* Some default styling for overlay */
.overlay h2, h3 {
	width: 98%;
	position: relative;
	left: 1%;
	margin: 2px;
	font-weight: 500;
}

.overlay .key {
	color: rgb(135, 135, 135);
}

/* Overwrites wave component */
html div.wave.card {
	border-radius: 10px;
}

html div.wave.card > div.actions button {
	border-radius: 10px;
}

.snackbar {
	position: fixed;
	top: calc(100% - 46px);
	z-index: 4;
	left: 50%;
	transform: translateX(-50%) translateY(56px);
	background-color: #2b2b2b;
	color: white;
	width: 100%;
	max-width: 340px;
	height: 36px;
	border-radius: 5px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
	transition: transform cubic-bezier(0.4, 0.0, 1, 1) 100ms;
}

.snackbar.open {
	transform: translateX(-50%) translateY(0px);
	transition: transform cubic-bezier(0.0, 0.0, 0.2, 1) 150ms;
}

.snackbar > p {
	width: 96%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-weight: 500;
	letter-spacing: 0.4px;
}

/* Styling for lane and entries */
.innerPage .lane {
	width: 95%;
	max-width: 935px;
	position: relative;
	top: 56px;
	left: 50%;
	transform: translateX(-50%);
}

.innerPage .lane .entry {
	width: calc(100% - 16px);
	padding: 12px 8px;
	border-radius: 10px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	position: relative;
	margin: 12px 0px;
}

.innerPage .lane .entry.nopadding {
	padding: 0;
}

.innerPage .lane .entry .divider {
	height: 2px;
	width: 94%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(0, 0, 0, .3);
}

.innerPage .lane .entry select {
	margin: 8px 4px;
	font-size: 24px;
	background-color: transparent;
	outline: 0;
	border: solid 2px #0080ff;
	border-radius: 4px;
	color: black;
	padding: 4px 6px;
	font-weight: 500;
}

.innerPage .lane .entry button {
	transition: all 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
	margin: 8px 4px;
	font-size: 24px;
	background-color: transparent;
	outline: 0;
	border: solid 2px #0080ff;
	border-radius: 4px;
	color: #0080ff;
	padding: 4px 6px;
	font-weight: 500;
	cursor: pointer;
}

.innerPage .lane .entry button:nth-of-type(1) {
	position: relative;
	margin-left: 24px;
}

.innerPage .lane .entry button.full {
	width: calc(100% - 74px);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	margin: 0px 0px;
}

.innerPage .lane .entry button:hover {
	color: white;
	background-color: #0080ff;
	transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.innerPage .lane .entry button.danger {
	color: #ff3300;
	border-color: #ff3300;
	transition: all 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.innerPage .lane .entry button.danger:hover {
	color: white;
	background-color: #ff3300;
	transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.innerPage .lane .entry button.toggled {
	color: white;
	background-color: #0080ff;
	transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.innerPage .lane .entry button.toggled:hover {
	background-color: rgba(0, 0, 0, .1);
	color: black;
	transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.innerPage .lane .entry .btn {
	padding: 0px;
	width: 94%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.innerPage .lane .entry .btn button {
	margin: 8px 0px;
	margin-right: 8px;
}

.innerPage .lane .entry h1 {
	width: 94%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 12px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.innerPage .lane .entry h1.big {
	font-size: 46px;
}

.innerPage .lane .entry h1.ch {
	text-align: center;
}

.innerPage .lane .entry h3 {
	width: 94%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 12px 0px;
	margin-top: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 24px;
	font-weight: 500;
	color: rgba(0, 0, 0, .7);
}

.innerPage .lane .entry h1.noOverflow {
	white-space: pre-wrap;
	text-overflow: clip;
}

.innerPage .lane .entry h2 {
	width: 94%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 8px 0px;
	color: rgba(0, 0, 0, .3);
	font-size: 18px;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.innerPage .lane .entry p {
	width: 94%;
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 8px 0px;
	color: black;
	font-size: 18px;
	font-weight: 400;
	white-space: pre-wrap !important;
	text-overflow: clip !important;
}

.innerPage .lane .entry p.overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.innerPage .lane .entry p.big {
	font-size: 26px;
}

.innerPage .lane .entry h2.ch {
	text-align: center;
}

.innerPage .lane .entry input {
	width: calc(100% - 74px);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	margin: 12px 0px;
	font-size: 24px;
	background-color: transparent;
	outline: 0;
	border: solid 2px #0080ff;
	border-radius: 4px;
	color: black;
	padding: 4px 6px;
	font-weight: 500;
}

.innerPage .lane .entry input::placeholder {
	color: #0080ff;
	opacity: 1;
}

.innerPage .lane .entry input::-ms-input-placeholder {
	color: #0080ff;
}

.innerPage .lane .entry .multiInput {
	width: calc(100% - 74px);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	margin: 12px 0px;
	background-color: transparent;
}

.innerPage .lane .entry .multiInput > input {
	margin: 0;
	width: 100%;
	float: left;
	position: relative;
	left: 0%;
	transform: translateX(0%);
}

.innerPage .lane .entry .multiInput.tennine > input:nth-of-type(1) {
	border-radius: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 0px;
	width: calc(10% - 2px);
}

.innerPage .lane .entry .multiInput.tennine > input:last-child {
	border-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 0px;
	width: calc(90% - 26px);
}

.innerPage .lane .entry .multiInput.fithteen > input:nth-of-type(1) {
	border-radius: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 0px;
	width: calc(15% - 2px);
}

.innerPage .lane .entry .multiInput.fithteen > input:last-child {
	border-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 0px;
	width: calc(85% - 26px);
}

.innerPage .lane .entry textarea {
	width: calc(100% - 74px);
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	margin: 12px 0px;
	font-size: 18px;
	background-color: transparent;
	outline: 0;
	border: solid 2px #0080ff;
	border-radius: 4px;
	color: black;
	padding: 4px 6px;
	font-weight: 500;
	height: 240px;
	resize: none;
}

.innerPage .lane .entry textarea::placeholder {
	color: #0080ff;
	opacity: 1;
}

.innerPage .lane .entry textarea::-ms-input-placeholder {
	color: #0080ff;
}

.innerPage .lane .entry .listItem {
	width: 95%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 4px 0px;
	border-radius: 10px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	padding: 12px 8px;
	display: inline-block;
}

.innerPage .lane .entry .listItem h1 {
	font-size: 36px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overlayList {
	display: block;
	position: fixed;
	z-index: 10;
	background-color: rgba(0, 0, 0, .1);
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
}

.overlayList .inner {
	max-width: 935px;
	width: 95%;
	height: 95%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.overlayList .inner .listItem {
	width: 95%;
	margin: 12px 2.5%;
	border-radius: 10px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.spinner {
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 5;
}

.spinner.background {
	background-color: rgba(0, 0, 0, 0.1);
}

.spinner.whiteBackground {
	background-color: white;
}

.spinner .inner {
	background-color: white;
	height: 64px;
	width: 64px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	border: 2px #ff3030 solid;
	animation: infinite spinner 1s;
}

@keyframes spinner {
	0% {
		border-radius: 5px;
	}

	50% {
		border-radius: 50%;
	}

	100% {
		border-radius: 5px;
	}
}

/* No items */

.noItems {
	width: 100%;
	height: 100%;
}

.noItems .inner {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	display: inline-block;
}

.noItems .inner h1 {
	margin: 0;
    padding: 4px 12px;
    font-size: 24px;
	font-weight: 500;
}

.noItems .inner p {
	margin: 0;
	padding: 4px 12px;
	font-size: 16px;
	color: rgba(0, 0, 0, .8);
}

/* Drawup card */
