.outerUserList {
	width: 20%;
	height: 100%;
	float: left;
}

.outerUserList .player {
	margin-top: 1%;
	width: 100%;
	height: 10%;
}

.outerUserList .player img {
	height: 100%;
}

.outerUserList .player img, h1 {
	float: left;
	margin: 0;
	margin-left: 0.5%;
}

h1 {
	font-family: "Vollkorn SC";
	line-height: 225%;
}

.outerUserList .player img {
	border-radius: 100%;
}

.infoPage {
	width: 80%;
	height: 100%;
	background-color: red;
	float: left;
}

.insidePage {
	width: 100%;
	height: 100%;
}