.itemList .item {
	width: 90%;
}

/* .item .shared h1 {
	font-size: 4em;
}

.item p {
	font-size: 2.4em;
} */

.itemList .item.open {
	width: 100%;
	border-radius: 0vh;
	transition: 0s;
}

.itemList .item.h {
	transition: 0s;
}

.itemList .item .controlls .controll h1 {
	font-size: 2.4rem;
}
