@import url('https://fonts.googleapis.com/css?family=Barlow:100');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1, p {
	font-family: 'Roboto', sans-serif;
}

.background {
	width: 100vw;
	height: 100vh;
	background-color: white;
}

.background .color {
	height: 200%;
	width: 60%;
	background-color: #ff3030;
	float: left;
	transform: rotate(20deg);
	position: relative;
	top: -50%;
	left: 10%;
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.background .white {
	height: 100%;
	width: 40%;
	background-color: white;
	float: left;
}

.box {
	z-index: 2;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60vw;
	height: 60vh;
	background-color: white;
	border-radius: 10px;
}

.box .title {
	width: 100%;
}

.box .title h1 {
	margin-left: 2%;
}

.content {
	height: 50%;
}
