<div class="innerResources">
	<script>
		tempImport([
			"--default"
		])
	</script>
</div>
<div class="innerPage" id="vueMonsters">
	<div class="lane">
		<div class="entry">
			<h2>Encounter calculator</h2>
			<h1 style="text-align: center;">{{ calculator.output }}</h1>
			<div v-if="calculator.calculated == true">
				<p style="text-align: center;"><b>Very Easy</b> 0 - {{ calculator.easy - 1 }}</p>
				<p style="text-align: center;"><b>Easy</b> {{ calculator.easy }} - {{ calculator.medium - 1 }}</p>
				<p style="text-align: center;"><b>Medium</b> {{ calculator.medium }} - {{ calculator.hard - 1}}</p>
				<p style="text-align: center;"><b>Hard</b> {{ calculator.hard }} - {{ calculator.deadly - 1}}</p>
				<p style="text-align: center;"><b>Deadly</b> {{ calculator.deadly }} and above</p>
			</div>
			<h3>Players</h3>
			<div v-if="players.length > 0">
				<div class="listItem" v-for="player in players">
					<div class="multiInput fithteen">
						<input v-model="player.count" placeholder="Number" type="number" />
						<input v-model="player.level" placeholder="level" type="number" />
					</div>
					<button @click="removePlayer(player)">Remove</button>
				</div>
			</div>
			<button @click="addPlayer()">Add player</button>
			<div v-if="selectedMonsters.length > 0">
				<h3>Monsters</h3>
				<div class="listItem" v-for="monster in selectedMonsters">
					<h1>{{ monster.name }}</h1>
					<input v-model="monster.count" placeholder="Number of monsters" type="number" />
					<button @click="removeMonster(monster)">Remove</button>
				</div>
			</div>
			<button @click="calculate()" v-if="players.length > 0">Calculate challenge</button>
		</div>
		<div class="entry">
			<h2>Search</h2>
			<input placeholder="Search" v-model="query" >
		</div>
		<div class="entry">
			<h2>Monsters</h2>
			<div class="listItem monster" v-for="monster in monstersList">
				<h1 @click="show(monster)">{{ monster.name }}</h1>
				<div v-if="monster.show == true">
					<h2 style="font-style: italic;color: rgba(0, 0, 0, .3);">{{ monster.size }} {{ monster.type }}<span v-if="monster.subtype != ''"> ({{ monster.subtype }})</span>, {{ monster.alignment }}</h2>
					<div class="divider"></div>
					<p><b>Armor Class</b> {{ monster.armor_class }}</p>
					<p><b>Hit Points</b> {{ monster.hit_points }} ({{ monster.hit_dice}})</p>
					<p><b>Speed:</b> {{ monster.speed }}</p>
					<div class="divider"></div>
					<p><b>STR</b> {{ monster.strength }} ({{ monster.strength_modifier }}) <b>DEX</b> {{ monster.dexterity }} ({{ monster.dexterity_modifier }}) <b>CON</b> {{ monster.constitution}} ({{ monster.constitution_modifier}}) <b>INT</b> {{ monster.intelligence }} ({{monster.intelligence_modifier}}) <b>WIS</b> {{ monster.wisdom }} ({{ monster.wisdom_modifier }}) <b>CHA</b> {{ monster.charisma }} ({{ monster.charisma_modifier }})</p>
					<div class="divider"></div>
					<p v-if="monster.savingthrows != ''"><b>Saving Throws</b> {{ monster.savingthrows }}</p>
					<p v-if="monster.skills != ''"><b>Skills</b> {{ monster.skills }}</p>
					<p v-if="monster.damage_vulnerabilities != ''"><b>Vulnerabilities</b> {{ monster.damage_vulnerabilities }}</p>
					<p v-if="monster.damage_resistances != ''"><b>Damage Resistances</b> {{ monster.damage_resistances }}</p>
					<p v-if="monster.damage_immunities != ''"><b>Damage Immunities</b> {{ monster.damage_immunities }}</p>
					<p v-if="monster.senses != ''"><b>Senses</b> {{ monster.senses }}</p>
					<p><b>Languages</b> <span v-if="monster.languages != ''">{{ monster.languages }}</span><span v-if="monster.languages == ''">-</span></p>
					<p><b>Challenge rating</b> {{ monster.challenge_rating }} ({{ monster.xp }}xp)</p>
					<div class="divider"></div>
					<div v-if="monster.special_abilities.length > 0">
						<p v-for="ability in monster.special_abilities"><b style="font-style: italic bold;">{{ ability.name }}</b> {{ ability.desc }}</p>
					</div>
					<div v-if="monster.actions.length > 0">
						<h3>Actions</h3>
						<div class="divider"></div>
						<p v-for="action in monster.actions"><b style="font-style: italic bold;">{{ action.name }}.</b> {{ action.desc }}</p>
					</div>
					<div v-if="monster.legendary_actions.length > 0">
						<h3>Legendary Actions</h3>
						<div class="divider"></div>
						<p>Has a total of 3 legendary actions per turn</p>
						<p v-for="action in monster.legendary_actions"><b style="font-style: italic bold;">{{ action.name }}.</b> {{ action.desc }}</p>
					</div>
					<button @click="addMonster(monster)">Add monster</button>
				</div>
			</div>
		</div>
	</div>
</div>
